[2019-01-02 12:29] agozie opened #1 "Query not sent to server on IOS"
I ran the example on IOS with this URI  `const String URI = "http://192.168.1.100:7000?auth=12345";`. I got `socket.request._query` on the server to be `{ b64: '1', transport: 'polling' }` but on Android, I got `{ auth: '12345', EIO: '3', transport: 'polling' }` which is the expected data.

Secondly, how do I change transport from polling to websocket?

[2019-01-07 13:41] Morthor opened #2 "adhara_socket_io/adhara_socket_io-Swift.h file not found"
Launching lib/main.dart on iPhone 6s in debug mode...
Starting Xcode build...
Xcode build done.                                            1.5s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD TARGET adhara_socket_io OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/********/Projects/flutter/.pub-cache/hosted/pub.dartlang.org/ad

[2019-01-08 21:04] tiholic commented on #1
@agozie please call `createInstance("http://192.168.1.100:7000", {"auth": "12345"})`

API Reference:
https://pub.dartlang.org/documentation/adhara_socket_io/latest/manager/SocketIOManager/createInstance.html

Transport will automatically upgrade from polling to websocket once the connection is established properly

[2019-01-08 21:11] tiholic commented on #2
What version of flutter are you using?
Have you tried to deleting podfile.lock and running pod install again?

[2019-01-11 17:54] faiziakbr opened #3 "Socket connecting infinitely. + https not connecting"
I have implemented the adhara socket.
i have successfully emitted and received the message from server side but the problem is the socket is again connecting and sending the request indefinitely.
how to stop this?

[2019-01-12 09:01] tiholic commented on #3
@faiziakbr can you share the code?

[2019-01-12 09:54] faiziakbr commented on #3
Here is the code.
SocketIO socket = await SocketIOManager().createInstance('http://URL:8000/');
    socket.onConnect((data){
      print("connected...");
      print(data);
      socket.emit("upDownVoteRequest", ['Hello World']);
    });
    socket.on("upDownVoteResponse", (data){   //sample event
      print("news");
      print(data);
    });
    socket.connect();

[2019-01-14 15:36] mrleesin opened #4 "Disable logs"
How to disable log of socket echo?

[2019-01-14 21:05] Morthor commented on #2
Hi. I've managed to get it running when recreating the iOS files with Swift support. Thank you.

I have another question though. Why is there no method to disconnect from a websocket? I can't seem to find it anywhere.

Also, why does the package always print parts of the received message in a strange format into the log?

Thank you.

[2019-01-15 20:36] CodeStrings opened #5 "Characters cant be sended"
It is not possible to send Characters like : = or .

[2019-01-15 20:58] CodeStrings commented on #5
Little Example would be:
`socket.emit("test",
[{
   "test": "=!./"
}])`

[2019-01-16 17:41] #1 closed

[2019-01-16 17:43] tiholic commented on #2
There is a clearInstance method which disconnects a socket instance.

And yes, please open up as separate issues and share the strange long along in the issue description.

[2019-01-16 21:21] tiholic commented on #4
@mrleesin upgrade to 0.1.7

[CHANGELOG](https://github.com/infitio/flutter_socket_io/blob/master/CHANGELOG.md)

[2019-01-16 21:21] #4 closed

[2019-01-16 21:30] tiholic commented on #2
@Morthor upgrade to 0.1.7 and see if the logs problem is resolved

[2019-01-16 21:55] Morthor commented on #2
Will do, thank you!

On Wed, Jan 16, 2019 at 10:30 PM Rohit Reddy Abbadi <
notifications@github.com> wrote:

--
João Soares

[2019-01-16 22:15] tiholic commented on #5
@CodeStrings issue is fixed in 0.1.8

[2019-01-16 22:15] #5 closed

[2019-01-17 13:36] Morthor commented on #2
Hi @tiholic

The log has improved. Although I still get this often:
`flutter: /
    clientId = KW4lJargbXFCf9BeAAAD;
}]; id: -1; placeholders: -1; nsp: /}
    clientId = KW4lJargbXFCf9BeAAAD;
}]
    clientId = KW4lJargbXFCf9BeAAAD;
}]; id: -1; placeholders: -1; nsp: /}
    clientId = KW4lJargbXFCf9BeAAAD;
}]
    clientId = KW4lJargbXFCf9BeAAAD;
}]; id: -1; placeholders: -1; nsp: /}
    clientId =

[2019-01-17 14:38] Morthor opened #6 "On Hot Restart a new WebSocket connection is created without disposing the old one."
On my Widget I run the following "initSockets" method to initiate the connection to socket.io:

### Flutter code
[code]

If I do a Hot Restart a new connection is created without disposing of the old one. I have to Terminate the app and start it again, and only when the app terminates do the web socket connections get disconnected.

### NodeJS server log
(This is one continuous log without restart

[2019-01-19 17:29] mrleesin opened #7 "When server emit broadcast"
Client receive it 4 times ( Ordinary emit work fine

[2019-01-19 22:12] jcarvalhogo opened #8 "problem when I try to run iOS"
eu estou com esse erro quando tento rodar o exemple no IOS:
Launching lib/main.dart on iPhone 6 in debug mode...
Running pod install...
Starting Xcode build...
Xcode build done.                                            7,3s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD AGGREGATE TARGET Flutter OF PROJECT Pods WITH CONFIGURATION D

[2019-01-20 18:42] tiholic commented on #8
Hi @jcarvalhogo the issue is due to Starscream dependency, which is fixed in https://github.com/infitio/flutter_socket_io/commit/f16d0d6fb0fec9e88d5ab252790e1de783713643

upgrade to latest version from pub [0.1.9](https://pub.dartlang.org/packages/adhara_socket_io/versions/0.1.9)

Read this thread for more...
https://github.com/daltoniam/Starscream/issues/575

Close this issue once have the setup

[2019-01-20 18:44] tiholic commented on #2
@Morthor are you testing on iOS or Android?

[2019-01-20 19:39] tiholic commented on #6
@Morthor thanks for pointing out.

This is what I have in mind... you can call `newInstance` which will return an existing SocketIO instance if you are invoking with the same parameters.

If someone needs to forcefully create a new instance, that will be possible by sending a new argument `bool enforceNew` to `SocketIOManager.createInstance`

[2019-01-20 19:43] tiholic commented on #7
Hi @mrleesin
Can you share your code?

Also please check the [issue 6](https://github.com/infitio/flutter_socket_io/issues/6) and let me know if you can enhance your findings based on this.

[2019-01-21 09:01] mrleesin commented on #7
Its not connected to issue 6. The same situation with first run.

[2019-01-21 20:50] mrleesin commented on #7
flutter output
<img width="869" alt="screenshot 2019-01-21 at 23 46 33" src="https://user-images.githubusercontent.com/8007469/51498269-f446d380-1dd6-11e9-86c9-574d546798e7.png">

node js terminal output
<img width="854" alt="screenshot 2019-01-21 at 23 48 11" src="https://user-images.githubusercontent.com/8007469/51498347-307a3400-1dd7-11e9-995a-22c22350a43f.png">

terminal nodejs output
![screen

[2019-01-22 11:59] jcarvalhogo commented on #8
Thanks for the attention, today I was testing again and now I have this error:

XCODE:
/Users/jcarvalho/Desktop/chat_ios_teste_ultimo/ios/Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngine.swift:316:11: Value of type 'WebSocket' has no member 'onHttpResponseHeaders'

open class SocketEngine : NSObject, URLSessionDelegate, SocketEnginePollable, SocketEngineWebsocket, ConfigSettable {

[2019-01-24 11:19] mrleesin opened #9 "Disconnect"
How to disconnect with server?

SocketIOManager().clearInstance(socket);
doesnt work

[2019-01-27 16:02] JonathanJude opened #10 "Get responses after emitting events"
How do one get responses from emitting events? I did

``` dynamic res = socket.emit("messages", [{"userId": "1223"}]); ```

But doesn't return anything. Any other way for this?

[2019-01-28 12:14] budo385 commented on #8
Any news on this?

[2019-01-29 06:50] tiholic commented on #10
@JonathanJude you can receive responses by listening to a specific event and emitting that from server.
`Ack` functionality is not been implemented yet and is in the roadmap.

Once Ack is implemented something like this can be done
`dynamic res = await socket.emit("messages", [{"userId": "1223"}]);`

[2019-01-29 08:00] CodeStrings opened #11 "Error building for IOS"
Xcode's output:
↳
    /Users/yonathanmichalsky/Desktop/RemoteWorker-App/ios/Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngine.swift:316:11: error: value of type 'WebSocket' has no member
    'onHttpResponseHeaders'
            ws?.onHttpResponseHeaders = {[weak self] headers in

Version: 0.1.9

[2019-02-01 10:31] jcarvalhogo commented on #8
Hi budo385, I do not have it, I'm on another task, then I'll try to see if I can solve it, if you can solve it, tell me how you did it

[2019-02-01 11:27] patrickianco opened #12 "Socket.io cannot connect to server"
**Describe the bug**
I tried connecting to my socket.io using the example code and trying to connect to my local socket.io server. But it doesn't connect and when I enable the onConnectError listener I get the following error
`onConnectErrorio.socket.engineio.client.EngineIOException: xhr poll error`

**Expected behavior**
The app should be able to connect to the socket after a button click.

**De

[2019-02-01 13:51] mickadam87 commented on #3
Hello, I'am sorry but I have approximately the same problem. here my console log and my code attached:

Syncing files to device Android SDK built for x86...
Restarted application in 3 585ms.
I/flutter (30107): initSockets.......
D/Adhara:Socket(30107): Connecting to... http://localhost:3000/
D/Adhara:Socket(30107): registering::connect
D/Adhara:Socket(30107): registering::top_events
D/Adhara:Socke

[2019-02-02 17:11] tiholic commented on #11
@CodeStrings please try clearing Pods directory and run `pod install`

[2019-02-02 17:13] tiholic commented on #12
@patrickianco can you check if your server IP is configured correctly in the app?

[2019-02-02 18:37] tiholic commented on #10
That's right. @JonathanJude

[2019-02-02 19:35] tiholic commented on #8
@jcarvalhogo can you try cleaning the Pods directory and re-installing?

If that doesn't work, can you try reproducing the same issue on newer phones like iPhone 8?

[2019-02-02 20:15] tiholic commented on #3
@mickadam87 I'm working on a fix. Will update soon.

[2019-02-03 13:39] tiholic commented on #11
@CodeStrings can you share the code which has issues and the updated code which doesn't have any issue? Will be helpful for others.

[2019-02-03 13:39] #11 closed

[2019-02-03 13:42] tiholic commented on #12
Yes, you will have to update the `URI` variable in `example/lib/main.dart#7` with your machine's IP address where you are running the socket.io-server

[2019-02-03 13:44] patrickianco commented on #12
I have found the solution to my problem. In the socket server I have to enable the polling in the transports configuration. Apparently, Flutter apps communicate via polling rather than websockets so if you enable websockets on your socket server it will cause the error

[2019-02-03 13:44] #12 closed

[2019-02-04 09:54] mickadam87 commented on #3
I have found the problem. I have to use "http://10.0.2.2:3000" in place of "localhost:3000" in Android Virtual Device ! Socket connected ! Thank you so much !

[2019-02-04 13:01] mickadam87 commented on #3
Sorry, but I have a new issue during Xcode Building...

PATHto MYapp/ios/Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngine.swift:316:11: error: value of type 'WebSocket' has no member 'onHttpResponseHeaders'

Known issue ?

[2019-02-08 06:36] tiholic commented on #3
@mickadam87 yes.

https://github.com/infitio/flutter_socket_io/issues/8

[2019-02-08 15:21] CodeStrings commented on #11
File: SocketEngine
`//
//  SocketEngine.swift
//  Socket.IO-Client-Swift
//
//  Created by Erik Little on 3/3/15.
//
//  Permission is hereby granted, free of charge, to any person obtaining a copy
//  of this software and associated documentation files (the "Software"), to deal
//  in the Software without restriction, including without limitation the rights
//  to use, copy, modify, merge, publis

[2019-02-08 15:23] CodeStrings commented on #8
Just change the file in ios/Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngine.swift to:
`//
//  SocketEngine.swift
//  Socket.IO-Client-Swift
//
//  Created by Erik Little on 3/3/15.
//
//  Permission is hereby granted, free of charge, to any person obtaining a copy
//  of this software and associated documentation files (the "Software"), to deal
//  in the Software without restricti

[2019-02-09 12:15] mrleesin commented on #10
I'm also waiting for ack!!!

[2019-02-09 12:15] mrleesin commented on #9
Flutter

[2019-02-14 06:53] vu111293 commented on #8
I have same error. I hope to hear from the author.
Tks very much.

[2019-02-14 06:55] vu111293 commented on #8
Answer of @CodeStrings not resolve this issue. Please suggest another solution if can. Tks

[2019-02-14 07:25] vu111293 commented on #2
@Morthor I get same issue. I will build on Xcode with case: adhara_socket_io 0.1.7
Please give me a solution. Tks

[2019-02-18 18:58] tiholic commented on #8
@vu111293 We are awaiting to hear from the Socket.IO swift authors.

https://github.com/socketio/socket.io-client-swift/issues/1155

Which version of iOS are you running on?

[2019-02-18 19:04] tiholic commented on #9
@mrleesin  are you trying to disconnect in dispose method?

Is this something similar to https://github.com/infitio/flutter_socket_io/issues/6

[2019-02-20 06:24] shingohu opened #13 "clearInstance bug"
[code]
[code]
the "index" should be "id"

[2019-02-25 11:41] agnoam opened #14 "Cannot transfer socket instance by constructor"
I'm trying to move SocketIO instance to this page:

[code]

And I'm calling it like this:
[code]

But instead this class throws this exception and the page don't load:

[code]

[2019-02-26 05:51] tiholic commented on #13
@shingohu thanks for pointing out!

[2019-02-26 06:11] tiholic commented on #13
fixed in https://github.com/infitio/flutter_socket_io/commit/a7b60f07f8e7fb0ff8e177730ebe1d31553b779f

Published to pub: [`0.1.10`](https://pub.dartlang.org/packages/adhara_socket_io/versions/0.1.10)

[2019-02-26 06:11] #13 closed

[2019-02-26 06:25] tiholic commented on #9
https://github.com/infitio/flutter_socket_io/issues/13

[2019-02-26 06:25] #9 closed

[2019-03-07 16:59] temirfe opened #15 "How to emit map not list?"
Is it possible to send data as Map directly for example `socket.emit("msg", {'key': 'value'});` instead of `socket.emit("msg", [{'key': 'value'}]);` ?
Sorry it's kinda a feature request.

[2019-03-08 13:02] datayeah commented on #8
the fix works for me on iphone8 ios12.1

[2019-03-12 06:41] tiholic commented on #15
@temirfe It is not possible to send a map as per the design, but if your requirement is to receive data on server as simple arguments, that works already.

---

For example,

client
[code]

server
[code]

----

If it is necessary for you to have a method which takes `map` as an argument, I recommend you to create a method which takes `event name` and `map` as argument and forwards that to `socket.

[2019-03-12 06:41] #15 closed

[2019-03-25 06:22] choe1991 commented on #3
I'am sorry but I have approximately the same problem

`D/Adhara:Socket(19495): Socket triggered::reconnect
I/flutter (19495): reconnected to socket.io
D/Adhara:Socket(19495): Socket triggered::connect
D/Adhara:Socket(19495): emitting:::null:::to:::GroupJoin
I/flutter (19495): connected...
D/Adhara:Socket(19495): Socket triggered::disconnect
I/flutter (19495): disconnected from socket.io
D/Adhara:S

[2019-03-25 06:33] choe1991 commented on #3
i have try to clone the example project and changed the url to my own host.the problem still happend.

[2019-04-02 10:00] liuyun1014 commented on #6
Willing to share how your sockets are globally introduced

[2019-04-10 02:33] anzileiro commented on #2
How Do you did that?

[2019-04-15 16:34] sebasval opened #16 "How to listen messages from server?"
How to listen messages from server?

I use socket.on for do that, is there another way?

Ty

[2019-04-15 17:16] tiholic commented on #16
That is the only way to listen to server events.

See this for example: https://github.com/infitio/flutter_socket_io/blob/master/example/lib/main.dart#L50

[2019-04-15 17:21] tiholic commented on #14
Hi @agnoam sorry about the delayed response.
have you resolved the issue or still facing it?

[2019-04-15 17:36] #16 closed

[2019-04-15 17:36] sebasval commented on #16
Ty

[2019-04-21 04:00] aurbina83 commented on #8
Received the same issue on iPhone 8/XS ios 10.3/12.2

[2019-04-24 02:54] liuyun1014 commented on #8
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD TARGET Socket.IO-Client-Swift OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/liuyun/Documents/workspace/flutter_socket_io/example/ios/Pods/Socket.IO-Client-Swift/Source/SocketIO/Engine/SocketEngine.swift:316:11: error:
    value of type 'WebSocket' has no member 'onHttpResponse

[2019-04-26 17:46] CodeStrings commented on #8
@liuyun1014 yeah it does works fine for me with the fix I posted above.

[2019-04-27 07:00] majoferenc commented on #3
For me in the latest version it is working flawlessly on Android side, but iOS is connecting infinitely...

[2019-04-27 11:25] liuyun1014 commented on #8
@CodeStrings  A new problem has arisen.
'adhara_socket_io/adhara_socket_io-Swift.h' file not found
    #import <adhara_socket_io/adhara_socket_io-Swift.h>

[2019-04-27 14:12] CodeStrings commented on #8
@liuyun1014 thats strange, just clear the depencies and try again

[2019-04-29 08:36] Troverun commented on #12
I hava  close  the  websockets ,     but i get  the exception   " I/flutter ( 4615): io.socket.engineio.client.EngineIOException: xhr poll error"  yet

[2019-04-30 07:29] amsmu opened #17 "Socket not working on iOS because of namespace issue."
Socket not working on iOS because of namespace issue.

https://github.com/infitio/flutter_socket_io/blob/master/ios/Classes/AdharaSocket.swift

Above file doesn't have any code for namespace.
It should be like this.

let manager = SocketManager(socketURL: URL(string:"http://localhost:8080/")!)
let defaultNamespaceSocket = manager.defaultSocket
let swiftSocket = manager.socket(forNamespace: "/swift

[2019-05-10 12:12] amitrawal commented on #8
@liuyun1014 this did work for me. But, is it a good idea to to change the files that are installed by `flutter packages get` ? These changes will not be available to other team members, when they pull the code since the ios folder is not in the git repo.

Another thing that worked for me was, forking this repo and changing last 2 lines in the `ios/adhara_socket_io.podspec`  to

[code]

[2019-05-10 13:33] tiholic commented on #8
@amitrawal It's a good idea to remove support for 8.0 considering the percentage of iOS 8 users (https://david-smith.org/iosversionstats/)

You can submit a PR.

[2019-05-12 07:56] tiholic commented on #8
PR https://github.com/infitio/flutter_socket_io/pull/18 by @amitrawal merged.

@jcarvalhogo  @sukkla01 @budo385 @vu111293 @aurbina83 @liuyun1014 please try using [master branch as dependency](https://dart.dev/tools/pub/dependencies#git-packages) and share your results

[2019-05-12 08:01] tiholic commented on #17
@amsmu name spaces are not supported currently. Please add support for this from iOS side and create a PR if you can.

[2019-05-12 08:03] tiholic commented on #12
@Troverun are you facing the issue on iOS or Android?

[2019-05-12 09:09] rellyCheng opened #19 "完全按照demo写的，成功连接socket服务后就会报下面的错"
E/EventThread(17866): Task threw exception
E/EventThread(17866): java.lang.RuntimeException: Methods marked with @UiThread must be executed on the main thread. Current thread: EventThread
E/EventThread(17866): 	at io.flutter.embedding.engine.FlutterJNI.ensureRunningOnMainThread(FlutterJNI.java:605)
E/EventThread(17866): 	at io.flutter.embedding.engine.FlutterJNI.dispatchPlatformMessage(FlutterJNI.

[2019-05-12 10:05] rellyCheng commented on #19
如果注释了红色框内的代码  就不会报异常

[2019-05-12 10:08] rellyCheng commented on #19
![1557655660111](https://user-images.githubusercontent.com/22974879/57580809-e41b4700-74e0-11e9-938c-123a2d57cb2f.jpg)

[2019-05-13 02:02] rellyCheng commented on #19
已经解决了， 代码没问题 ， 是模拟器的原因，在真机上运行是没问题的。

[2019-05-14 22:04] tiholic commented on #19
很高兴你解决了它

[2019-05-14 22:04] #19 closed

[2019-05-14 22:06] tiholic commented on #10
Anyone interested in implementing `ack` can create a pull request

[2019-05-15 07:10] rinlv commented on #19
I have the same problem with @rellyCheng , this is my dart code:

`import 'package:flutter/material.dart';
import 'package:adhara_socket_io/adhara_socket_io.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Demo',
      theme: ThemeData(
        primarySwatch: Colors.blue,

[2019-05-15 07:13] rinlv commented on #19
I have been run your example and got the same error as @rellyCheng . Did I wrong implementation?

[2019-05-15 12:00] tiholic commented on #19
@rinlv did you try on an emulator or physical device?

[2019-05-16 02:34] rinlv commented on #19
@tiholic Both physical device and emulator?

[2019-05-16 09:55] rinlv commented on #19
Hi @tiholic, I realize this error occur when I build with the latest Flutter. I build your example with Flutter stable ver 1.2.1, this error was disappeared and I received a notification. Thanks for your supporting.

[2019-05-18 01:36] tiholic commented on #19
@rinlv Thanks for the information. Will check the compatibility with latest stable release.

[2019-05-24 03:08] rellyCheng opened #20 "Socket triggered::news 已经触发，但是print没有执行"
![image](https://user-images.githubusercontent.com/22974879/58300097-e7350200-7e13-11e9-9f41-d1e31dac9f5d.png)

[2019-05-24 03:16] rellyCheng commented on #20
是对服务器端推送消息有什么要求吗？同样的服务端代码，我可以在web端监听到消息

[2019-05-30 17:37] mgolob94 opened #21 "XHR poll error (transports error) on AWS Elastic beanstalk"
Console returns me this errors:

I/flutter (10845): On error: io.socket.engineio.client.EngineIOException: xhr poll error
I/flutter (10845): Disconected: transport error

Is this problem on Flutter app or in server configuration?
I hosting sockets on AWS.

Thanks for help.

[2019-05-31 13:26] marianoarga opened #22 "[Question] SSL"
Does this plugin work with socket.io server using HTTPS?

[2019-05-31 13:48] rajeshzmoke opened #23 "Getting error while running on IOS"
Running Xcode build...

Xcode build done.                                           13.6s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/rajeshkumar/Desktop/loop/ios/Pods/FMDB/src/fmdb/FMDatabase.m:1486:15: warning: 'sqlite3_wal_checkpoint_v2' is only available on iOS 5.0 or newer [-Wunguarded-availability]
        int err = sqlite3_wa

[2019-06-01 02:42] tiholic commented on #22
@marianoarga it will.

[2019-06-01 02:43] tiholic commented on #21
@mgolob94 are you using elastic beanstalk?

[2019-06-01 02:44] tiholic commented on #23
@rajeshzmoke can you try pointing your pubspec dependency to the repo.

[2019-06-01 20:01] orvice opened #24 "is able to force webSocket transport?"

[2019-06-01 21:40] marianoarga commented on #22
Got HTTPS working today, thank you.

[2019-06-01 21:40] #22 closed

[2019-06-02 17:59] rajeshzmoke commented on #23
@tiholic yea that fixed the issue can build iOS now,

[2019-06-02 17:59] rajeshzmoke commented on #23
@tiholic but the ios doesnt hit the node js socket server, android works great ..any idea as to why?

[2019-06-02 23:21] MorochoRochaDarwin opened #25 "error when trying to launch on iOS"
these are my dependences
[code]

and this is the output log
[code]

[2019-06-03 07:18] mgolob94 commented on #21
Yes..

[2019-06-03 15:14] lhcdims commented on #19
As at 2019/06/03:

The following error:

[code]

appears when using flutter channel master or beta (i.e. flutter version >= 1.6.3)

disappear when using flutter channel stable (i.e. flutter version = 1.5.4)

I found this problem a few days ago when the channel beta was still using flutter version 1.5.8.

[2019-06-04 05:49] lhcdims opened #26 "Unable to run the example app in flutter channel master or beta (Or any flutter verion >= 1.6.3)"
# The following error is found in the console:

[code]

# Steps to reproduce the error:

1. switch to either channel master or channel beta by:
flutter channel master
or
flutter channel beta

2. run the example adhara_socket_io app in Android device or emulator (I did not check IOS).

# Additional Information on why this error happens:

1. Pay attention to this line in the above error log:

E/Even

[2019-06-04 07:21] lhcdims commented on #26
Hi,

I solved the problem by replacing your AdharaSocket.java with the following codes, I wrapped the channel.invokeMethod and MethodChannel.Result in a handler:

[code]

Pls. forgive me that I don't know how to make a PR, and I am not sure whether the above codes are appropriate, pls. update your version if you think that this is OK.  Thank you.

[2019-06-04 22:44] lhcdims commented on #26
After testing the solution in my own app for hours, I created a PR for your review, thank you.

[2019-06-05 05:43] tiholic commented on #26
@lhcdims thank you. Will review and merge.

[2019-06-05 05:45] #26 closed

[2019-06-05 05:47] tiholic commented on #25
@MorochoRochaDarwin Can you try pointing your dependency to this repo's master, and share your result here!

[2019-06-05 05:48] tiholic commented on #24
@orvice can you elaborate!

[2019-06-05 05:49] tiholic commented on #23
@rajeshzmoke great. Will release an update on Pub.
Can you share iOS logs?

[2019-06-05 06:07] tiholic commented on #21
@mgolob94

You need to add a new file: `.ebextensions/socketupgrade.cofnig` with this content

[code]

[2019-06-05 06:08] #21 closed

[2019-06-05 06:11] tiholic commented on #6
@liuyun1014 sorry, I didn't understand your comment

[2019-06-05 14:51] tiholic commented on #19
@rinlv the issue is resolved by @lhcdims
Ref: https://github.com/infitio/flutter_socket_io/issues/26

[2019-06-05 14:58] tiholic commented on #8
Fixed released in [0.1.11](https://pub.dev/packages/adhara_socket_io/versions/0.1.11)

[2019-06-05 14:58] tiholic commented on #25
Fixed released in [0.1.11](https://pub.dev/packages/adhara_socket_io/versions/0.1.11)

[2019-06-05 14:59] tiholic commented on #23
@rajeshzmoke  ios issue fixed and released in [0.1.11](https://pub.dev/packages/adhara_socket_io/versions/0.1.11)

[2019-06-05 15:00] tiholic commented on #26
Fixed released in [0.1.11](https://pub.dev/packages/adhara_socket_io/versions/0.1.11)

[2019-06-05 15:00] tiholic commented on #19
Fixed released in [0.1.11](https://pub.dev/packages/adhara_socket_io/versions/0.1.11)

[2019-06-05 15:01] tiholic commented on #2
Fixed released in [0.1.11](https://pub.dev/packages/adhara_socket_io/versions/0.1.11)

Please close this if it is resolved

[2019-06-05 15:03] lhcdims commented on #24
When we use your package to connect to a socket.io server, we can use the socket.conn.transport.name on the server side to check the transport type, and the transport type is always 'pooling', so the question is, how can we connect the socket.io server by 'websocket' instead of 'pooling'?

I tried to force transport type to 'websocket' by using:

[code]

on the socket.io server, but the socket.con

[2019-06-05 15:09] lhcdims commented on #20
1. 你确定 socket 已经连接？（即 那句 pprint('connected...'); 已经执行？另外为什么是 pprint, 不是 print，pprint 是自己写的函数？）

2. 你确定 服务器端 已经 emit "news"? 并且有一个参数？并且服务器是发送给这个客户端（没有发错给别的客户端）？

[2019-06-05 15:28] lhcdims commented on #6
My work around for this problem:

1. Create an array on the socket.io server, which stores all sockets connected, each element of the array should contain at least:
(a) the socket.id
(b) the last time that a heart beat is received.

2. On the client side, create a timer that send a heartbeat to the server every X seconds.

3. On the server side, when a heart beat is received, update 1(b).

4. On t

[2019-06-05 15:46] lhcdims commented on #26
Thank you to accept my PR, by the way, did you update your package on:

https://pub.dev/packages/adhara_socket_io

meanwhile I'm still using my own fork version in my app.

[2019-06-05 17:03] tiholic commented on #24
@lhcdims Custom options to configure transports is developed for Android in https://github.com/infitio/flutter_socket_io/commit/18031507364dfb760a4d4b8765544061c082884d

It would be great if you can handle the same for iOS

[2019-06-05 17:05] tiholic commented on #26
Yes, https://pub.dev/packages/adhara_socket_io/versions/0.1.11
This is the latest revision with the update

[2019-06-06 10:30] mgolob94 commented on #8
This is still not in release. Please check again.

[2019-06-06 18:24] tiholic commented on #8
@mgolob94 can you check if is it fixed in master branch?

[2019-06-07 06:51] mgolob94 commented on #8
We have the latest version and I don't have these changes.

[2019-06-07 13:40] theromie commented on #12
Even i am facing same error on android where my Phone is connect to same wifi where i am running my server application

[2019-06-08 12:05] theromie opened #28 "io.socket.engineio.client.EngineIOException: xhr poll error"
I am running flutter app on real device and trying to connect socket on my server IP but it failed to connect.

[2019-06-08 21:21] tiholic commented on #28
@theromie Where is your server hosted? In your intranet or on AWS?

[2019-06-09 07:33] rellyCheng commented on #20
1.确定socket已经连接，ppprint是一个函数（打印到app界面上）
2.当socket已经连接时，我会记录下当前连接的clientId（服务端 emit “news”的时候用），服务端执行emit “news” 控制台就会打印
![image](https://user-images.githubusercontent.com/22974879/59156305-8b34d380-8acb-11e9-9d79-1ff48eeb5eaa.png)所以，可以保证当前测试的客户端确实能响应服务端推送的消息，但是回调函数就是不能执行。。。

[2019-06-09 07:35] rellyCheng commented on #20
@lhcdims 非常感谢你的回答，我已经找到另一个插件来解决我的问题了

[2019-06-09 09:48] rajeshzmoke commented on #23
@tiholoc how do i share logs?

[2019-06-09 09:49] #23 closed

[2019-06-10 01:24] MorochoRochaDarwin commented on #25
now we have the next errorr

[code]

[2019-06-10 05:23] theromie commented on #28
As of now testing on local machine

[2019-06-10 05:23] theromie commented on #28
and even my test server is on AWS @tiholic

[2019-06-10 05:35] solnsumei commented on #8
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD TARGET Socket.IO-Client-Swift OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/solmei/flutter_projects/sockets/ios/Pods/Socket.IO-Client-Swift/Source/SocketIO/Ack/SocketAckManager.swift:39:9: warning: 'Hashable.hashValue' is deprecated as a protocol requirement; conform type 'SocketAck' to 'Hashable' by

[2019-06-10 07:21] solnsumei opened #29 "Socket not connecting on iOS emulator"
When I try running the app using the example code from the adhara socket plugin on iOS, nothing happens. It neither connects, emits a message or even throw an error.
Runs as expected on Android and the mobile browser.

**Expected behavior**
Should display, connected and message received from the socket server.

**Device details:**
 - Device: [e.g. iPhoneXr Emulator]
 - OS: [e.g. iOS12]

[2019-06-10 10:48] theromie commented on #28
`D/Adhara:Socket( 1414): Socket triggered::connect_error
I/flutter ( 1414): io.socket.engineio.client.EngineIOException: xhr poll error`

[2019-06-11 00:52] 1593929040 commented on #25
#import <adhara_socket_io/adhara_socket_io-Swift.h> 报错解决了么

[2019-06-11 05:50] theromie commented on #28
Working on emulator but disconnects and Connects again every time

[2019-06-11 14:27] theromie commented on #28
Not working with Android Pie 9 @tiholic

[2019-06-11 20:04] tiholic commented on #28
Please point your [IP Address](https://github.com/infitio/flutter_socket_io/blob/master/example/lib/main.dart#L7) properly.

Seems like your mobile is not getting connected to server IP

[2019-06-11 20:04] #28 closed

[2019-06-12 03:33] theromie commented on #28
It's working with lower Android version but not with Pie 9. Please update your package based on Pie

[2019-06-13 06:52] saarang1995 opened #30 "Socket connection is not receiving event updates in Android."
**Describe the bug**

Unable to receive updates from the socket server on the client. I am able to create a successful connection and emit messages too. However, I am not receiving any updates in the event callback.

Version used : adhara_socket_io: ^0.1.11

**To Reproduce**
Steps to reproduce the behavior:
Below is the code used to connect:
`const socketIOLink = "...";
socket.on('connect', (respo

[2019-06-13 08:04] VesperHan opened #31 "error: could not build Objective-C module 'Starscream'"
**Describe the bug**
    <unknown>:0: error: could not build Objective-C module 'Starscream'
      umbrella header "Starscream-umbrella.h"

**To Reproduce**
My proj is objc language, i have integrate it and change config to support swift . when  i build show this error.

[2019-06-13 08:13] VesperHan commented on #31
xcode 10.2.1 cannot support swift3.x

[2019-06-13 09:33] VesperHan opened #32 "the websocket support 'wss://?'"
wss://? not support

[2019-06-13 13:29] lhcdims commented on #30
did you use socket.emit('event_name', data); on the server side?

[2019-06-13 13:30] saarang1995 commented on #30
No, I have used it on the client end.

Sent from my iPhone

On 13-Jun-2019, at 6:59 PM, Ken <notifications@github.com<mailto:notifications@github.com>> wrote:

did you use socket.emit('event_name', data); on the server side?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/infitio/flutter_socket_io/issues/30?email_source=

[2019-06-13 13:50] lhcdims commented on #28
pie by default only support https, you need to add:

android:useCleartextTraffic="true"

inside the <application> tag of AndroidManifest.xml

in order to use http in Android Pie

[2019-06-13 13:57] lhcdims commented on #30
the socket.on('abc'...) will be fired only when the other party uses socket.emit('abc'...) to trigger it

[2019-06-13 14:01] saarang1995 commented on #30
Hi Ken,

Yes, our servers our sending messages using socket.emit. Am I missing something here?

Regards,
Saarang Tiwari

________________________________
From: Ken <notifications@github.com>
Sent: Thursday, June 13, 2019 7:27 PM
To: infitio/flutter_socket_io
Cc: Saarang Tiwari; Author
Subject: Re: [infitio/flutter_socket_io] Socket connection is not receiving event updates in Android. (#30)

the s

[2019-06-13 14:11] lhcdims commented on #30
There is no automatic callback in socket.io

[2019-06-13 14:16] saarang1995 commented on #30
What happens in our architecture is whenever the client emits an eventName with correct data then we connect them to the socket and start emitting data for them from the server end.

socket.on("eventName", _callback) is supposed to get that data, which works on socketIO which is the native library for android, iOS, and web.

In this link: https://socket.io/blog/native-socket-io-and-android/.
I am

[2019-06-13 14:30] lhcdims commented on #30
1. on client side:

socket.on('fromservertoclient', (data) {
  // do something with data
  print('got response from server')
});
socket.emit('fromclienttoserver', [data]);

2. on server side:

socket.on('fromclienttoserver', function(data) {
    // do something with data
    console.log('got message from client');

     // now use emit to callback
    socket.emit('fromservertoclient', data);
});

[2019-06-14 10:02] theromie opened #33 "Swift Version"
Adhara_socket_io doesn't specify a Swift version and none of the targets integrating it have the 'SWIFT_VERSION' attribute set.

[2019-06-14 10:34] theromie commented on #33
I have created empty .swift file and also added Swift Version to Podfile but not working

[2019-06-14 10:57] #33 closed

[2019-06-15 04:26] saarang1995 commented on #30
This is what exactly is happening. But still not getting any response.

________________________________
From: Ken <notifications@github.com>
Sent: Thursday, June 13, 2019 8:00 PM
To: infitio/flutter_socket_io
Cc: Saarang Tiwari; Author
Subject: Re: [infitio/flutter_socket_io] Socket connection is not receiving event updates in Android. (#30)

  1.  on client side:

socket.on('fromservertoclient',

[2019-06-15 07:05] lhcdims commented on #30
@saarang1995

In my previous comment, we have the following FACTS:

1. The client is able to connect the server.

2. The server is able to receive a message from the client and print ('Got message from CLIENT');

3. The server, right after receiving the message from the client, sent a response to the client.

4. The client, got the response from the server and print ('Got Response from SERVER').

[2019-06-16 07:25] saarang1995 commented on #30
@lhcdims

I am answering point by point:

1. The client is able to connect the server. -> **YES**
2. The server is able to receive a message from the client and print ('Got message from CLIENT'); -> **YES**
3. The server, right after receiving the message from the client, sent a response to the client. -> **NO** -> Server doesn't message right away it just connects the client successfully and the

[2019-06-16 08:14] lhcdims commented on #30
@saarang1995,

Hi there, this is rare, because I don't have the problem you mentioned!(I got 4 Yeses for points 1 to 4!)  I tried to remember the times when my socket.io connections were not successful, the only thing I can remember is I was using Android 9 (Android Pie) mobile phone to connect to the socket.io server, and forgot to set "allow clear text " in androidmanifest.   (Android Pie, by de

[2019-06-19 13:02] theromie commented on #3
I am facing same issue due to this message screen is getting refreshed and load content again

[2019-06-20 11:57] jainsanil18 commented on #30
I'm having the same problem,server is emitting message but the event on client side is not picking up the message

[2019-06-20 12:18] TaavishThaman commented on #30
@saarang1995 Were you able to solve this problem? Seems like i'm facing the same issue.

[2019-06-20 12:52] Amriksinghkis commented on #28
Not working give same error "io.socket.engineio.client.EngineIOException: xhr poll error"

[2019-06-21 04:13] theromie commented on #28
pie by default only support https, you need to add:

android:useCleartextTraffic="true"

inside the application tag of AndroidManifest.xml

in order to use http in Android Pie

@amirksinghkis

[2019-06-21 10:20] Amriksinghkis commented on #28
@theromie  not working for me, if add android:useCleartextTraffic="true"
inside the application tag of AndroidManifest.xml then it give below error:
error: attribute android:useCleartextTraffic not found.

[2019-06-21 17:56] raphagodoi opened #34 "Error on SSL"
When i tried to connect to my domain https://iportao.com I got untrusted chain error... but that's not true, because I use socket.io on other projects using this domain.

[code]

**Device details:**
 - Device: Samsung a8
 - OS: Android 9

**Relevant Logs**
D/Adhara:Socket(20370): Connecting to... https://iportao.com
D/Adhara:Socket(20370): registering::connect
D/Adhara:Socket(20370): registering::

[2019-06-22 03:51] lhcdims commented on #28
'inside application tag' means:

[code]

[2019-06-24 05:34] theromie commented on #28
Yes @lhcdims

[2019-06-24 12:39] Amriksinghkis commented on #29
I am facing same issue, Any update of same?

[2019-06-24 12:55] Amriksinghkis commented on #28
It is working now, My bad no clean the code after above changes, then I have clean the code it working fine. Thanks theromie for help..

[2019-07-01 15:08] Aguezz opened #37 "Error when I put the second parameter as callback"
// Client
socket.emit('my event name', ['my first param', (message) {
   print(message);
} ] );

// Server [Node]
socket.on('my event name', (data, callback) => {
   return callback('Success');
} ] )

When I run the function, I got an error "Invalid argument: Closure: (dynamic) => Null"

[2019-07-01 15:14] Reneuve commented on #37
Yes, i got the same problem with him too

[2019-07-02 14:17] daniwaxman opened #38 "Error when received event data is a string and not List"
**Describe the bug**
If the event data received from the server is not formatted as JSON an exception is thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify the server send message to be:
socket.emit('news',  'hello world');

**Expected behavior**
The .on event should support strings or ignore the data.

**Device details:**
 - Package Version 0.1.11

**Relevant Logs**

[2019-07-05 07:21] tiholic commented on #38
@daniwaxman it will take some time for me to develop this, if you can develop the same, request you to create a PR

[2019-07-05 07:23] tiholic commented on #37
@Aguezz currently supported format is `socket.emit("message", ["Hello world!"]);`

What exactly are you trying to achieve by passing a function?

[2019-07-09 19:07] MichealReed opened #39 "Roadmap/Discussion for web support"
Are there any ideas floating around to support web / upcoming desktop clients?

Complexity to support would be good to know as well.

[2019-07-10 09:05] rajeshzmoke opened #40 "`adhara_socket_io` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod."
[code]
while running `pod install` i get this error

[!] Unable to determine Swift version for the following pods:

- `adhara_socket_io` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.

[2019-07-10 12:54] mps2209 opened #41 "Methods marked with @UiThread must be executed on the main thread. Current thread: EventThread"
Latest flutter update seems to have complications with this package

https://github.com/flutter/engine/commit/904cfc4fe3631103c656ba617d9768a832d3622a#diff-1fa18ffd4ca48402f3b9437b82337f31

[2019-07-10 12:55] #41 closed

[2019-07-11 13:31] vishweshsoni commented on #30
same problem @saarang1995

[2019-07-11 14:04] saarang1995 commented on #30
@TaavishThaman  and @vishweshsoni I am working on a solution and if I could resolve it then will definitely let you know.

[2019-07-11 15:31] Vardiak opened #42 "Not working with Android SDK 28"
**Describe the bug**
When I try to use this package with Android SDK 28, I get spammed with "web socket error" in the debug console and the socket can't connect. After multiple hours of work trying to merge my application with the example I found out that it worked by replacing `compileSdkVersion` and `targetSdkVersion` from 28 to 27 in `android/app/build.gradle`.

**To Reproduce**
Update the exam

[2019-07-11 15:32] Vardiak opened #43 "Package outdated on pub.dev"
Everything is in the title. To install the latest version, I had to put this in my `pubspec.yaml` file.

[code]

[2019-07-11 23:30] vishweshsoni commented on #30
@saarang1995  @TaavishThaman  Hi i have implemented websocket completely using
https://pub.dev/packages/flutter_socket_io#-readme-tab-
also i have referred this
https://www.youtube.com/watch?v=FvArk8-qgCk
for better understanding  socket

[2019-07-12 22:53] tiholic commented on #43
@Vardiak 0.2.0 is now published.
Note the breaking changes from 0.1.11 to 0.2.0

[2019-07-12 22:53] #43 closed

[2019-07-12 22:56] tiholic commented on #39
@MichealReed Haven't given it much of a thought till now, but surely will be expanding support for other platforms.

I'm looking for contributors, let know if yourself or anyone is interested.

[2019-07-12 22:56] tiholic commented on #42
@Vardiak is this resolved by upgrading to latest 0.2.0?

[2019-07-12 23:33] tiholic commented on #40
@rajeshzmoke do you see the same error with latest version `0.2.0` ?

[2019-07-15 02:57] IChengLiWei commented on #40
i met the same error

[2019-07-15 20:44] brooth commented on #2
Still facing this bug on v0.2.0

[2019-07-15 20:52] brooth commented on #2
Fixed by editing ```Podfile```, added ```use_frameworks!``` to this line:
[code]

Thanks for the plugin!

[2019-07-16 02:14] IChengLiWei commented on #40
i find casuse of the problem,and i only seted SWIFT_VERSION=4.2 in my target to solve it

[2019-07-16 07:33] mps2209 commented on #40
could you explain how and where you did that? I am new to IOS developing

[2019-07-16 09:11] lukaszreszetow commented on #8
Same issue as @solnsumei

[2019-07-17 01:46] adlerluiz commented on #42
Here is the same, both 28 and 29

[2019-07-17 02:07] althex2015 commented on #40
i got same problem

[2019-07-17 06:10] rajeshzmoke commented on #40
@tiholic  this happened after updating flutter to `Channel stable, v1.7.8+hotfix.3` , as some plugins were not compatible ..i reverted back to older version of flutter and that solved the issue

[2019-07-17 06:43] althex2015 commented on #40
how to revert it?

[2019-07-17 07:05] IChengLiWei commented on #40
@mps2209 open your project in xcode ,and then find your target Build Setting.you can add user-defined setting that key=SWIFT_VERSION,value=4.2 or other version.

[2019-07-19 10:33] youraleangseng opened #46 "socket error: io.socket.engineio.client.EngineIOException: websocket error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Device details:**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Package Version [e.g. 22]

**Relevant Logs**
A

[2019-07-20 11:17] GMasciaRDT commented on #42
I had the same problem and I fixed it by adding the following line in the AndroidManifest.xml file inside <application>:
android:usesCleartextTraffic="true"

For more info: https://stackoverflow.com/questions/53284903/socket-io-not-working-on-android-9-api-level-28)

Hope this helps.

[2019-07-20 15:04] adlerluiz commented on #42
@GMasciaRDT Thank You, I added and it worked.

[2019-07-22 02:17] allansrc commented on #46
I'm going in the same error ... even when running the example project....

I have tried by this way:
make a function to call the events to init socket connection. call the function in a button.. but don't work at all.

` connectSocket() async {

   SocketIO socket = await SocketIOManager().createInstance(
   SocketOptions('http://127.0.0.1:7000'));
   socket.onConnect((data) {
     print("connecte

[2019-07-23 08:04] sopheamen007 commented on #46
same error here, how to solve it?

[2019-07-23 14:55] masoumehAfra commented on #46
we have same error, how we can solve it ?

[2019-07-24 02:26] allansrc commented on #46
I fix it changing the params to the same as my API:

for example:

[code]
so, in my code it was like that:

[code]

p.s: in Android API 28 ^ the localhost don't work on 127.0.0.1. Use 10.0.0.2

[2019-07-24 04:24] #40 closed

[2019-07-24 06:41] sopheamen007 commented on #46
fixed by using ifconfig (Mac) in terminal and found ip : your wifi or internet wifi, and replace from 127.0.0.1 to your ip. thank you guys.

[2019-07-24 10:05] Vardiak opened #47 "CocoaPods could not find compatible versions for pod "adhara_socket_io""
**Describe the bug**
I get this error when I try to run the example project on my computer (see logs).

As I get this issue with the example project it seems to be related to my flutter setup but I don't see what I did wrong since I don't get any error when running `flutter doctor`.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the example project
2. Run `flutter run`

**Device detai

[2019-07-24 22:25] Vardiak commented on #47
I managed to fix this issue by uncommenting this line in `ios/Podfile` :

[code]

[2019-07-24 22:26] #47 closed

[2019-07-31 10:58] rambozzang commented on #46
same error here, how to solve it? my server is aws.... dns or ip???

[2019-08-03 13:56] godlessturtle opened #49 "manager.clearInstance doesn't work"
unable to disconnect either via kManager and manager. any problem?

[code]
**.
.
.**
``` await kManager.clearInstance(kSocket);```

[2019-08-06 09:30] indranil-tiwary commented on #29
Same issue. Any updates?

[2019-08-06 13:29] ManojMM026 commented on #32
?

[2019-08-06 14:09] assemmarwan opened #50 "Add Authentication Headers"
I am using a backend that has a socket.io server. To connect, I need to send authentication headers. There doesn't seem to be a way to set it.

How can I pass the authorization headers (Authorization: ${Token}).

[2019-08-07 12:26] liuyun1014 commented on #13
clearInstance don't work for ios
adhara_socket_io: ^0.2.0

[2019-08-07 12:31] liuyun1014 opened #51 "clearInstance doesn't work for ios"

[2019-08-07 13:30] DanielR97 commented on #50
Isn't this what you are trying to accomplish?

[code]

[2019-08-08 10:50] DanielR97 commented on #29
For me, it works on Android but tries to connect infinitely on iOS.

Try `enableLogging: true` on the socket options and either use an older simulator (e.g. iPhone 7 with iOS 10) or run with Xcode for more log messages.

[2019-08-10 21:18] tiholic commented on #42
Thank you @GMasciaRDT
Project README updated with the necessary help content

[2019-08-10 21:18] #42 closed

[2019-08-10 21:28] tiholic commented on #31
@VesperHan try with 0.3.1 and let know

[2019-08-10 21:29] tiholic commented on #31
https://github.com/infitio/flutter_socket_io/pull/18

[2019-08-10 21:30] tiholic commented on #8
@mgolob94 try with 0.3.1

[2019-08-10 21:32] tiholic commented on #24
@orvice @lhcdims iOS support is published in 0.3.1

Leaving this issue open for until Android support is developed

[2019-08-10 21:33] tiholic commented on #10
Ack support is released in 0.3.1

[2019-08-11 07:17] tiholic commented on #10
@JonathanJude @mrleesin

[2019-08-11 07:17] #10 closed

[2019-08-11 07:19] #31 closed

[2019-08-11 07:20] #8 closed

[2019-08-11 07:21] tiholic commented on #37
@Aguezz @Reneuve ACK Support is now implemented. Upgrade to 0.3.0 or higher

[2019-08-11 07:21] #37 closed

[2019-08-11 07:22] tiholic commented on #17
Support for iOS added in https://github.com/infitio/flutter_socket_io/pull/52
Upgrade to 0.3.0 or higher

[2019-08-11 07:22] #17 closed

[2019-08-11 07:34] tiholic commented on #38
@daniwaxman upgrade to 0.3.0 or higher and try

[2019-08-11 07:35] tiholic commented on #29
@DanielR97 namespace support for iOS is added now. Upgrade to 0.3.2

[2019-08-11 07:38] tiholic commented on #49
@godlessturtle are you facing this on iOS or Android?

[2019-08-11 07:38] tiholic commented on #51
https://github.com/infitio/flutter_socket_io/issues/49

[2019-08-11 07:39] tiholic commented on #51
Duplicate of #49

[2019-08-11 07:40] tiholic commented on #46
@rambozzang you can use either DNS or IP

See https://github.com/infitio/flutter_socket_io/issues/21 discussion for more help regarding AWS socket connection

[2019-08-11 07:49] tiholic commented on #46
@youraleangseng @masoumehAfra
Refer to Point 3 in running the example. https://github.com/infitio/flutter_socket_io#running-example
Sample has to be followed when you are implementing this in your own application.

[2019-08-11 07:49] #46 closed

[2019-08-11 08:00] tiholic commented on #50
@assemmarwan Socket headers wont work with websocket transport. They only work with polling transport.

You can use query params instead of customHeaders as @DanielR97 explained

[2019-08-11 08:07] tiholic commented on #34
@raphagodoi can you try upgrading to 3.0.2 and share the exact code snippet that you are trying?

[2019-08-11 08:17] tiholic commented on #34
Duplicate of #32

[2019-08-11 08:28] tiholic commented on #2
Apply @brooth 's solution if you are facing the same issue

[2019-08-11 08:28] #2 closed

[2019-08-11 08:35] tiholic commented on #25
@MorochoRochaDarwin can you try with latest release and check if this is resolved?

[2019-08-11 08:38] tiholic commented on #28
Added necessary details in README

[2019-08-11 08:39] tiholic commented on #33
@theromie please detail any solution you applied. This could help others facing the same error

[2019-08-11 08:40] tiholic commented on #23
@rajeshzmoke what do you mean by sharing logs?

If you want to see more logs enable logging pass `enableLogging: true,` in SocketOptions

[2019-08-11 08:42] tiholic commented on #12
@theromie @Troverun
This could probably help https://github.com/infitio/flutter_socket_io#android-support-for-sdk--27

[2019-08-11 08:43] tiholic commented on #12
@patrickianco Check the latest release. Using the new SocketOptions you can pass
`transports: [Transports.WEB_SOCKET, Transports.POLLING]` in the order of preference.

[2019-08-12 01:11] liuyun1014 commented on #49
IOS is not reconnected, but it does not interrupt with the server

[2019-08-13 00:19] diegoalvis commented on #29
Still having the issue with version 0.3.2

[2019-08-13 20:54] HenrikThien opened #53 "emit does not work on iOS"
1) socket was created - working
2) connected to server - working
3) `socket.emit("start_session", xxxx...);` - does not work

The emit command does not work on iOS, on Android everything works fine..?

[2019-08-14 08:34] wapchief opened #54 "Unhandled Exception: MissingPluginException(No implementation found for method newInstance on channel adhara_socket_io)"
**Describe the bug**
use android studio run ios-Simulator on error：

[code]

use x-code run ios-Simulator on error：

[code]

**Device details:**
 - Device: [iPhoneXR]
 - OS: [e.g. iOS9]
 - Package Version [0.3.3]
 -  Flutter (Channel stable, v1.7.8+hotfix.3, on Mac OS X 10.14.5 18F132, locale zh-Hans-CN)

**My Code**

[code]

[2019-08-14 16:05] Vardiak commented on #53
Does it make the app crash without any error ? Because that is what I'm facing.

[2019-08-15 06:39] wapchief commented on #53
mark

[2019-08-15 06:53] godlessturtle commented on #49
@tiholic ios

[2019-08-15 16:17] HenrikThien commented on #53
@Vardiak actually it doesn't do anything at all..Not even an exception

[2019-08-16 00:39] milo2005 commented on #53
The error is en AdharaSocket.swift in line 77, the reqId must be marked as an optional variable, example

let reqId: String? = arguments["reqId"] as? String

[2019-08-16 00:42] milo2005 opened #55 "Error on AdharaSocket.swift"
**Describe the bug**
the reqId must be marked as an optional variable, on line 77

**Expected behavior**
let reqId: String? = arguments["reqId"] as? String

[2019-08-16 00:59] breitembach opened #56 "Version 0.3.3 is not working onSending Data"
Version 0.3.3 is not working onSending Data... is not working nothing...
just work in 0.2.0
i will stay 0.2.0
Android

[2019-08-16 03:15] wapchief commented on #55
mark,I also met this problem，Although I commented out the code, but does not solve the problem

[2019-08-16 09:49] solnsumei commented on #29
let me try it out

On Tue, Aug 13, 2019 at 1:19 AM Diego Alvis <notifications@github.com>
wrote:

[2019-08-17 06:31] qq326646683 commented on #53
@milo2005 fixed this crash

[2019-08-17 13:41] vuitv commented on #53
Thanks you, it is work fine!

[2019-08-18 00:26] Saifallak commented on #55
having the same issue;

![3E316758-1F23-4790-B698-D95C5BD4CF09](https://user-images.githubusercontent.com/6053156/63218652-7d509e00-c15f-11e9-9942-30a7a1ea63ac.png)

[2019-08-18 07:46] #55 closed

[2019-08-18 07:49] tiholic commented on #56
@breitembach can you share any log by enabling logging! (pass `enableLogging:true` to socket options)

[2019-08-18 07:52] tiholic commented on #54
@wapchief try full restart instead of hot-restart or hot-reload

[2019-08-18 07:54] tiholic commented on #53
@milo2005 @qq326646683 @vuitv this is fixed in https://github.com/infitio/flutter_socket_io/pull/57

Try upgrading to 0.3.3+1

[2019-08-18 14:49] HenrikThien commented on #53
Still, I cannot emit messages to the socket.io server from iOS

`if (socket == null) return;
    socket.emit("start_session");`

in server

` socket.on("start_session")...`

But nothing happens with iOS. With Android everything works as expected

[2019-08-18 16:20] breitembach commented on #56
I'm using, nothing fires when I send another device to send the information, everything works in version 0.2

[2019-08-20 10:08] wapchief commented on #54
I ended up using v0.2.0

[2019-08-21 09:59] liuyun1014 commented on #49
Has the problem been solved?
@godlessturtle

[2019-08-21 16:07] daniwaxman commented on #38
Looks to b working now

Thanks!

[2019-08-23 12:27] tanujtak081986 commented on #53
Any updates on this. I am facing the same issues. Nothing is emitted, and no errors logged.

[2019-08-25 13:34] daniwaxman opened #58 "Error when running on ios simulator"
I am trying to run on ios simulator and during the build process I get the following error:

Unable to determine Swift version for the following pods:
    - `adhara_socket_io` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that in

[2019-08-25 20:05] tiholic commented on #58
@daniwaxman can try latest ( 0.3.4 ) and update?

[2019-08-25 20:09] tiholic commented on #53
@HenrikThien @tanujtak081986
Try upgrading to 0.3.4, and see if this helps.
https://github.com/infitio/infitio.github.io/blob/master/adhara_socketio.mov

[2019-08-25 20:13] tiholic commented on #49
@godlessturtle @liuyun1014

Running the example works perfectly alright. See if this can help! Try upgrading to 0.3.4.

https://github.com/infitio/infitio.github.io/blob/master/adhara_socketio.mov

[2019-08-25 20:14] #38 closed

[2019-08-25 20:16] tiholic commented on #29
@solnsumei Is it resolved now?
Try with 0.3.4

@Amriksinghkis @indranil-tiwary @diegoalvis @solnsumei
See if this can help: https://github.com/infitio/infitio.github.io/blob/master/adhara_socketio.mov

[2019-08-25 20:23] tiholic commented on #25
@MorochoRochaDarwin  @1593929040
The issue is with opening the xcodeproj instead of xcworkspace. Try the below.

[code]

[2019-08-25 20:23] #25 closed

[2019-08-25 20:23] #14 closed

[2019-08-26 04:48] hzbsccd opened #59 "HUA WEI mobil can't connect socketIO server.Are there anyone meet this question?"
I can connect to the socketIO server with Simulator of Android or Iphone,or MI and VIVO (mobil with android system).But can not connect the server with the HUA WEI mobil(my phone version is Mate 9 Pro).
Are there anyone meet the same question?

（I use the adhara_socket_io version is 0.3.4）

[2019-08-26 05:49] tiholic commented on #59
@hzbsccd Did you configure your server URL correctly? See the example video linked in Repo's README

[2019-08-26 06:14] hzbsccd commented on #59
If the URL is wrong，other type real phone should can't connect with the server……，at the same time，I use android Simulator or Iphone Simulator，they can connect the release socketIO server，Except the HUA WEI mobil

[2019-08-26 08:49] KyawNaingTun commented on #22
Hi @marianoarga, how did you fixed? Please share me.

[2019-08-26 09:52] tiholic commented on #59
Is it android 9.0+?
In that case, try to add this
https://github.com/infitio/flutter_socket_io#android-support-for-sdk--27

[2019-08-26 10:07] IChengLiWei commented on #58
Ios meet this error: /Users/air/Desktop/flutter/.pub-cache/hosted/pub.flutter-io.cn/adhara_socket_io-0.3.4/ios/Classes/AdharaSocketIoPlugin.m:2:9: fatal error: 'adhara_socket_io/adhara_socket_io-Swift.h' file not found

[2019-08-26 12:15] daniwaxman commented on #58
I am now getting the same error reported by IChengLiWei

[2019-08-26 12:39] tiholic commented on #58
Refer to this Comment, see if that resolves your issue
https://github.com/infitio/flutter_socket_io/issues/25#issuecomment-524660820

[2019-08-26 12:48] daniwaxman commented on #58
Thanks- Did not resolve.

[2019-08-26 13:05] hzbsccd commented on #59
Thank you very much！I connect the server with your scheme.
this afternoon,I contract HUA WEI service，they can not provide any recommend，until I think here。Thank You!

[2019-08-26 15:54] rhessus opened #60 "manager.clearInstance() throws an PlatformException when multiple instances are cleared"
**Describe the bug**
When i create multiple instances with manager.createInstance() and i clear them, in the same order, with manager.clearInstance(), the second throws an PlatformException.

**To Reproduce**
Steps to reproduce the behavior:
1. Create instance A and B (A index is 0 and B index is 1)
2. Clear instance A and after clear instance B
4. See PlatformException on manager.clearInstance()

[2019-08-26 16:00] rhessus opened #61 "Implement disconnect method"
Is it possible to implement the Dart disconnect method ? Java and Swift have already the code for that.

socket.dart:

  ///disconnect this socket to server
  disconnect() async {
    await _channel.invokeMethod("disconnect");
  }

Thanks in advance

[2019-08-26 18:03] tiholic commented on #58
@daniwaxman Try cleaning Pods and Podfile.lock, build afresh. If that didn't resolve, then share steps to reproduce

[2019-08-26 18:04] tiholic commented on #61
@rhessus disconnect is handled by SocketManager

refer the example code: https://github.com/infitio/flutter_socket_io/blob/master/example/lib/main.dart#L60

[2019-08-26 18:04] #61 closed

[2019-08-26 18:06] tiholic commented on #60
@rhessus Can you try looking into the issue and raise a PR?

[2019-08-26 18:06] #59 closed

[2019-08-26 19:13] daniwaxman commented on #58
1) deleted Pods and pofile.lock
2) ran flutter packages get
3) ran Pod install
4) opened Runner and set deployment target to 9.0
5) Open ios Simulator (iphone Xr 12.4)
6) run "flutter run"

I get the following:
=== BUILD TARGET shared_preferences OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/dw/dev/flutter/.pub-cache/hosted/pub.dartlang.org/adhara_socket_io-0.3.4/ios/Classes/AdharaSocket

[2019-08-27 03:37] tiholic commented on #58
@daniwaxman can you share your source code? rr.16566@gmail.com

[2019-08-27 13:56] tiholic commented on #58
@daniwaxman as discussed, please add `  use_frameworks!` to your Podfile as in the example

https://github.com/infitio/flutter_socket_io/blob/master/example/ios/Podfile#L30

[2019-08-27 13:56] #58 closed

[2019-08-27 14:41] #53 closed

[2019-08-27 14:45] tanujtak081986 commented on #53
Didn't get a chance to try this yet. Was travelling.
Will try this and get back to you if it works.
Thanks.

[2019-08-28 09:16] CalmAndCoDe opened #62 "Sticky session"
hi, i used your socket io package but i want to know if your package support the session management it self?
because i configured the sticky session on my back-end for connecting to same instance for each request. when i try to connect it with my mobile app it keeps reconnecting?
any help would be appreciated.
Thanks.

[2019-08-28 09:40] tiholic commented on #62
@CalmAndCoDe can you share your Node.js code on how you configured Sticky Session in development?

[2019-08-28 10:12] CalmAndCoDe commented on #62
@tiholic no im not using it in development, its on production and i want to develope an app for it,
when i test it with another clients like js socket io client it works but when i use your this plugin in flutter it goes in reconnection loop.

[2019-08-28 10:52] CalmAndCoDe commented on #62
thanks i solved it with updating to ^0.3.4  version and set the transport to the Transports.WEB_SOCKET.

[2019-08-28 10:52] #62 closed

[2019-08-28 20:12] rhessus commented on #29
I have the same issue with the 0.3.4. Socket with namespace not connecting

[2019-08-28 20:27] rhessus commented on #60
i have submit a PR #63

[2019-08-28 21:19] vimalmistry opened #64 "Socket is not connecting after hot reload or full reload."
Socket is not connecting after state change hot reload or event full restart from vscode.
It is working fist time when we run it then after it is not connecting.

I am using Provider package for state management. Does any one have idea where to initialise socket.io to avoid multiple connect requests.
Thank you.

[2019-08-29 00:28] castrojr913 commented on #28
@tiholic I added the android:usesCleartextTraffic="true" on <application> tag and It didn't work

[2019-08-29 13:35] ManojMM026 opened #65 "socket.on('event',(data)) in iOS not working as expected."
**Describe the bug**
I am connecting to proxy url of mine, after that I emmit certain event which goes through and callback comes to socket.on, Nothing is exectuted besides print statement in socket.on on ios whereas on android it works as expected.

**Expected behavior**
Should exectute whatever there in socket.on
**Device details:**
 - Device: iphoneX
 - OS: 12.2
 - Package Version  ^0.3.4

**Re

[2019-08-29 14:39] godlessturtle commented on #49
i use another package, issue can be closed

[2019-08-29 16:09] tiholic commented on #56
@breitembach Can you try out the example with latest code and let know if it works in your device?

[2019-08-29 16:57] tiholic commented on #60
Released 0.3.5 to pub.dev

[2019-08-29 16:57] tiholic commented on #60
Thanks to @rhessus

[2019-08-29 16:58] #60 closed

[2019-09-01 03:11] tiholic commented on #65
@ManojMM026 if you are looking for ack, please use as in example
https://github.com/infitio/flutter_socket_io/blob/e31e07db012840af392e6b71cd0085d74b1015ec/example/lib/main.dart#L102

[2019-09-01 03:19] tiholic commented on #22
@marianoarga share your fix here, it could help others

[2019-09-02 11:49] marianoarga commented on #22
@KyawNaingTun @tiholic I don't quite remember my problem, I think I forgot to add "secure" parameter when running my socket.io server
https://socket.io/docs/server-api/#socket-handshake

[2019-09-02 11:56] KyawNaingTun commented on #22
I have solved my problem. My issue wasn't related this package. So, I added the following lines in nginx host config file. That's all. Thanks @marianoarga

`proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection 'upgrade';
  proxy_set_header Host $host;
  proxy_cache_bypass $http_upgrade;
  proxy_pass      http://localhost:$http_port;`

[2019-09-03 06:05] ManojMM026 commented on #65
No, I am not looking for ack.
But why does it work on android as expected? it goes into my parse function for android and not for ios?

[2019-09-03 19:58] tiholic commented on #65
@ManojMM026 can you try the example setup and see if it works fine?

[2019-09-04 08:54] salem-matloob opened #67 "AdharaSocketIoPlugin.h file not found"
(iOS) AdharaSocketIoPlugin.h file not found when archive build

[2019-09-04 12:02] hzbsccd opened #68 "How can I make it work when the app is work on background"
It can work when the App is work on foreground.Bun when the app is working on background,it can't get any message.How can I make it work as foreground?
Thank You.

[2019-09-04 13:36] yalshamy commented on #29
I have the same issue with the 0.3.5.

Device details:
Device: [e.g. iPhoneXr Emulator]
OS: [e.g. iOS12]

[2019-09-04 20:20] MorochoRochaDarwin opened #69 "Multiples connections on different host not working on Android"
**Describe the bug**
I have two socket-io host host1. After connect with the first socket-io host on  my home page next I am going to the Page2 I am trying to connect with the  host2 on iOS it works but on Android it doesn't work and the onError method never is called .

[2019-09-05 10:03] yalshamy commented on #29
After debugging I found the problem happened because the socket request uses polling transport, not WebSocket transport although I removed `Transports.POLLING` from transports options and kept on 'Transports.WEB_SOCKET'.

This problem only occurred in ios and android working fine.

[2019-09-05 10:12] yalshamy opened #70 "ios always create a connection using polling transport and ignore WebSocket transport. although `Transports.POLLING` removed from options."
**Describe the bug**
ios always create a connection using polling transport and ignore WebSocket transport although `Transports.POLLING` removed from transports options and kept on `Transports.WEB_SOCKET`.

This problem only occurred in ios.

**Device details:**
 - Device Type: [Emulator]
 - Model: [e.g. iPhoneXr]
 - OS: [e.g. iOS12]
 - Package Version [e.g. 0.3.5]

[2019-09-05 14:56] #69 closed

[2019-09-06 08:48] masiJR opened #71 "fatal error: 'adhara_socket_io/adhara_socket_io-Swift.h' file not found"
**Describe the bug**
fatal error: 'adhara_socket_io/adhara_socket_io-Swift.h' file not found

[2019-09-08 13:54] tiholic commented on #71
@KosalSK Please see if this helps resolve your issue https://github.com/infitio/flutter_socket_io#faqs

[2019-09-08 15:04] #50 closed

[2019-09-08 15:08] tiholic commented on #68
@hzbsccd you can use firebase messaging to send a push notification when the app is in background. Socket connection will not be active when the app is in background

[2019-09-08 15:08] #68 closed

[2019-09-08 15:10] tiholic commented on #67
@salem-matloob did you add `!use_frameworks`? https://github.com/infitio/flutter_socket_io/#faqs

[2019-09-08 15:12] tiholic commented on #69
@MorochoRochaDarwin glad that you could resolve the issue. If you can share your solution, it can help others who encounter the same error.

[2019-09-08 15:14] tiholic commented on #49
https://github.com/infitio/flutter_socket_io/issues/60

[2019-09-08 15:14] #49 closed

[2019-09-08 15:34] githubsksk commented on #71
sir, i got the same problem.

[2019-09-08 16:18] tiholic commented on #71
@githubsksk
Have you tried the example code?
Are you running from XCode?

[2019-09-08 16:19] tiholic commented on #70
@yalshamy Can you try running the example? You can modify `example/lib/main.dart#41` to force usage of websockets and see if that works

[2019-09-08 17:11] Mohammad-ezzidden commented on #29
I have the same issue as well the socket not connect and trigger disconnect many times ,
Im also just using websocket transport., Any solution ?

[2019-09-09 08:06] hzbsccd commented on #68
I find firebase messaging can push message to the all users of the App, but it can't push messages to the some users of the IM chat group.

[2019-09-11 04:36] huynhphu-pufu opened #72 "Stop listen event not working with one event"
Hello. I am having trouble stopping listening to the event. Specifically, I have a dialog, when opening the dialog (a statefull widget), in `initState()` I declare listening to the 'ABC' event. At the time of closing the dialog, specifically in `dispose()`, I `off` listening. When it first opens the dialog, it works smoothly. However, from the 2nd time on, I did not receive any messages from the e

[2019-09-12 05:20] tiholic commented on #72
@huynhphu-pufu thanks for the report, this issue is fixed in 0.3.7

[2019-09-12 07:52] huynhphu-pufu commented on #72
Thank you so much 💯

[2019-09-12 07:52] #72 closed

[2019-09-13 14:49] majdkz97 opened #73 "I/flutter (23174): io.socket.engineio.client.EngineIOException: websocket error"
I/flutter (23174): io.socket.engineio.client.EngineIOException: websocket error
I/flutter (23174): io.socket.engineio.client.EngineIOException: websocket error
I/flutter (23174): io.socket.engineio.client.EngineIOException: websocket error
I/flutter (23174): io.socket.engineio.client.EngineIOException: websocket error
I/flutter (23174): io.socket.engineio.client.EngineIOException: websocket error

[2019-09-13 20:33] tiholic commented on #73
@majdkz97 the description is not very informative to comment on, however, you can try checking for connection to server from your mobile.

[2019-09-15 16:59] Saifallak opened #74 "get more variables from node.js emit"
**Describe the bug**
when my node.js server tries to emit more than one varriable , i get no response on client side, just it says eventName is triggered;

**Have you tried reproducing the issue with example available in this repo?**
Yes

**To Reproduce**
just try to emit more variables like
```io.to(room_id).emit('fetch_messages', "112233", "55223344");```

**Expected behavior**
be able to get mo

[2019-09-16 15:29] theochampion commented on #50
@tiholic How would you add the headers as there is no headers field in `SocketOption`?

[2019-09-16 16:14] theochampion commented on #50
@tiholic I'm doing it like this at the moment but it doesn't seems to works as passports on the server looks for an actual cookie

[code]

[2019-09-16 16:30] theochampion opened #75 "Add support for headers"
I'm trying to do authentication via passport using this https://github.com/jfromaniello/passport.socketio but it require authentication cookie to be passed as a header.

I think this is a pretty common usecase and only supporting query params isn't fit for everything.

Would it be possible to add support for headers (just like `extraHeaders` in the js client lib https://socket.io/docs/client-api/#

[2019-09-17 19:40] tiholic commented on #75
@theochampion It could take some time from my end to develop this. Raise a PR if you can add support for this

[2019-09-17 19:41] tiholic commented on #50
https://github.com/infitio/flutter_socket_io/issues/75

[2019-09-18 08:54] ManojMM026 commented on #65
@tiholic I added try catch and tried to debug issue. I have a error

`'_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, dynamic>' `

but this works for Android not for ios

[2019-09-18 11:53] mirkancal commented on #65
@ManojMM026 is that coming from `_handleData` in `socket.dart`?

[2019-09-19 04:59] ManojMM026 commented on #65
I have Response parsing class something like this

[code]

It breakes in ios at
` IdentifyResponse identifyResponse = IdentifyResponse.fromJson(data);`

Android version works well, only ios gives me this error.

[2019-09-21 00:53] SimchaCahn opened #78 "What to setup on server side?"
After everything is setup on flutter, (based on the sample app you provided,) what and how should the node server look?

[2019-09-23 05:56] ManojMM026 commented on #65
@tiholic

[2019-09-26 07:35] vincentsong commented on #29
for iOS namespace problem, please use SocketOptions correctly:

`SocketOptions(_domain, nameSpace: '/yourNS');`

[2019-09-27 08:01] unknown1101 opened #79 "I can't find room implementation"
As title i need to build chat app but i didn't find room in that driver

[2019-09-27 08:27] mevlanaayas commented on #79
Hi @unknown1101, On client side do you really need room implementation? When I am doing room implementation for my chat app, I do it on server side (with Socket io). I use flutter_socket_io to send messages with room id or identifier of room and server side handle further steps. I am also watching this issue to see if there is a better way :)

[2019-09-27 08:31] mevlanaayas commented on #78
Hi @SimchaCahn, https://github.com/infitio/flutter_socket_io/tree/master/example/socket.io.server this may help you :)

[2019-09-28 10:15] byerman opened #80 "no podspec found for 'adhara_socket_io'"
when i run flutter project in xcode
get the error :
'adhara_socket_io/AdharaSocketIoPlugin.h' file not found
and i copy your podfile
run pod install in my project/ios
and get the error:
[!] No podspec found for `adhara_socket_io` in `.symlinks/plugins/adhara_socket_io/ios`
i can't find the resolution
please help

[2019-09-30 06:25] #79 closed

[2019-10-02 08:26] #78 closed

[2019-10-02 08:40] tiholic commented on #79
Thanks for the solution @mevlanaayas
PR's are welcome if you are interested in implementing rooms in client side

[2019-10-02 08:41] tiholic commented on #80
https://github.com/infitio/flutter_socket_io#adharasocketiopluginm29-fatal-error-adhara_socket_ioadhara_socket_io-swifth-file-not-found

See if this can help

[2019-10-02 08:47] tiholic commented on #29
@vincentsong Yes, it must work the same on both platforms. In the example, it works good for both Android and iOS (https://github.com/infitio/flutter_socket_io/blob/master/example/lib/main.dart#L32)

Are you not able to connect on both platforms with same options?

[2019-10-02 08:49] tiholic commented on #67
@salem-matloob closing the issue considering it is resolved.

[2019-10-02 08:49] #67 closed

[2019-10-02 08:50] #51 closed

[2019-10-02 11:45] vincentsong commented on #29
I can connect on both of the platform. Just need to add namespace in SocketOptions for iOS

[2019-10-02 13:50] tiholic commented on #29
@vincentsong setting `url` as `http://localhost:3000` and `namespace` as '/mynamespace' doesn't work on both the platforms?

[2019-10-02 14:02] vincentsong commented on #29
@tiholic  only work for iOS, I have to put url like this 'http://localhost:3000/mynamespace' to make it working on android.

[2019-10-03 03:48] vincentsong opened #81 "Not working on Android Release APK, but OK on debug version"
**Describe the bug**
Cannot connect to HTTP server with release mode on Android

**Have you tried reproducing the issue with example available in this repo?**
No

[2019-10-03 03:49] vincentsong commented on #81
@tiholic do you know to to fix it? I tried to add 'network_security_config.xml' like below, but still not working.

<?xml version="1.0" encoding="utf-8"?>
<network-security-config>
    <base-config cleartextTrafficPermitted="true">
        <trust-anchors>
            <certificates src="system" />
            <certificates src="user" />
        </trust-anchors>
    </base-config>
</network-security

[2019-10-03 04:22] #81 closed

[2019-10-03 04:22] vincentsong commented on #81
I solved by add <uses-permission android:name="android.permission.INTERNET"/> into AndroidManifest.xml manually. Sorry for this troubled you :)

[2019-10-03 06:56] tiholic commented on #29
@vincentsong thanks for pointing it out!
It would be great if you can make necessary changes for android and raise a PR.

[2019-10-03 08:15] vincentsong commented on #29
Sure, I think I need to create a new issue instead of using this ticket here. :)

[2019-10-03 08:19] vincentsong opened #82 "Namespace options is not working for Android"
**Describe the bug**

Url: 'http://localhost:3000'
Options: namespace '/mobile'

Cannot connect to server from android app.

It's working as expect in iOS app.

**Have you tried reproducing the issue with example available in this repo?**
No

**Expected behavior**
Android app could connect to Server

[2019-10-03 20:19] mucan54 commented on #3
In socket.io this problem happened to me when the server's socket.io version and client's socket.io version was different.

[2019-10-04 04:28] mucan54 opened #84 "Can we get client ID ?"
I want to get the client's id which is defined by socket.io, regularly it is something like 'VRgSiN9MRI1IQ1QIABnK' but in adhara socket the id is integer, how can i reach the real id of socket which is defined by socket.io.

[2019-10-08 14:01] juicechu commented on #70
You can do that
![image](https://user-images.githubusercontent.com/5253183/66402287-2eb0d900-ea17-11e9-8212-5c23b8d726d6.png)

[2019-10-10 08:52] 718087538 opened #85 "如何在返回时断开socket , 返回时触发 disconnect(String identifier) async { ...... }"
我需要在点击'返回'按钮时触发 disconnect(String identifier) async { ......  }方法断开连接,

但是拿不到这个方法,请问该怎么做.

使用 和 定义 '断开连接' 的方法不在同一个类.

[2019-10-11 03:40] Jasper-zzq opened #86 "why not connect for https"
Connection local success, but connect https unlimited reconnection

[2019-10-11 06:36] randomjoho opened #87 "Android receiving Chinese characters is right, but iOS is not correct"
**Describe the bug**
Android receiving Chinese characters is right, but iOS is not correct.
use  transports: [Transports.POLLING]

Android:
[{"msg":[{"_method_":"SystemNot","action":"1","ct":"直播内容包含任何低俗、暴露和涉黄内容，账号会被封禁；安全部门会24小时巡查哦～","msgtype":"4"}],"retcode":"000000","retmsg":"OK"}]

iOS:
[{"msg":[{"_method_":"SystemNot","action":"1","ct":"ç´æ­åå®¹åå«ä»»ä½ä½ä¿ãæ´é²åæ¶é»åå®¹ï¼è

[2019-10-11 11:47] ManojMM026 commented on #65
I have a demo scheduled next week @tiholic it will be great if you can fix this quickly.

[2019-10-14 04:36] tiholic commented on #86
@Jasper-zzq please share the logs

[2019-10-14 04:38] tiholic commented on #65
@ManojMM026 drop a mail to rr.16566@gmail.com

[2019-10-14 04:41] tiholic commented on #70
@juicechu how is this different from setting transports to only websockets?

[2019-10-14 04:45] tiholic commented on #85
@718087538 use `clearInstance(sockerInstance)` to disconnect the instance

[2019-10-14 04:46] #85 closed

[2019-10-14 04:48] tiholic commented on #86
See if any of these issues help

https://github.com/infitio/flutter_socket_io/issues/22
https://github.com/infitio/flutter_socket_io/issues/21

[2019-10-14 07:36] byerman commented on #80
it can help me ,thanks

[2019-10-14 07:36] #80 closed

[2019-10-14 08:04] byerman opened #88 "ios message lost"
when i use socket.on("msg",msg)
in android ,it can receiver all of message,
but in ios
some message were lost

this is the message
[code]

i use plugin version is 0.2.0
because when i use the newest version
the socket connect is Unavailable

[2019-10-15 03:56] byerman commented on #88
it's my device error,sorry

[2019-10-15 03:56] #88 closed

[2019-10-16 05:15] ManojMM026 commented on #65
An issue here is descriptive enough, can you please tell me what more you need so that I can draft & send an email to you?

[2019-10-17 10:35] byerman opened #89 "about support https"
when i want to connect to https

i found can't connect

when i see the android code

i found it's not bypass the certificate int SocketOptions

in ios i don't know how to do

but in android  I used to do that.

i set the options as

[code]

it make i can connect https in android
i hope author can add the support for https
it's my suggestion and idea
i don't know is right
if others have some idea o

[2019-10-18 01:19] nateshmbhat opened #90 "Support for socket.isConnected( ) method [ feature request ]"
When we call the socket listeners for connection events , there can be any number of time spent inside that listener. So it is highly required to add a `socket.isConnected( )` method which returns true if the socket is connected to the server false otherwise.

Also there are a lot of times that we would need to check if the connection still exists when doing some operatoin.

[2019-10-21 14:24] #90 closed

[2019-10-21 14:30] tiholic commented on #65
@ManojMM026 just drop a blank email, we can connect over a meeting and fix it.

[2019-10-22 08:20] oryjk commented on #54
hi, @wapchief, I use v0.2.0, but also has this issue,
**my code**
`import 'package:adhara_socket_io/adhara_socket_io.dart';

Future main() async {
  SocketIO socket = await SocketIOManager().createInstance(
      SocketOptions('http://192.168.0.160/socket'));
  socket.onConnect((data) {
    print("connected...");
    print(data);
    socket.emit("message", ["Hello world!"]);
  });
  socket.on("new

[2019-10-22 14:27] Saifallak opened #92 "androidX Error"
**Describe the bug**
AndroidX Error

**Have you tried reproducing the issue with example available in this repo?**
Yes?

**To Reproduce**
Steps to reproduce the behavior:
Just build(release) app with adhara in;

**Expected behavior**
AndroidX support

**Device details:**
 - Package Version 4.0.0

**Relevant Logs**
[code]

[2019-10-23 15:48] tiholic commented on #92
[code]

build logs
[code]

Seems to be building fine

[2019-10-23 16:10] Saifallak commented on #92
maybe because of my flutter version ?

[code]

[2019-10-23 20:17] tiholic commented on #92
Seems to be. It works fine on stable channel.

[2019-10-26 19:23] Vardiak opened #94 "Can't connect to custom endpoint"
This not a typical use case for socket.io but I'm facing an issue with something that works perfectly fine one the web.
I currently run multiple socket.io servers with different endpoints managed by a proxy. When on the home page, I connect to the `/` namespace with `http://example/socket.io` as a path.
Sometimes, I need to connect to another Node.js running on the `/game` endpoint with an ID as a

[2019-10-26 23:50] Vardiak commented on #94
After doing some research, I found that the URL is not equivalent to the path we use in socket.io-client (web version). We have to specify the path for socket.io-java and socket.io-swift but this is not handled in flutter_socket_io.
I can try to do a pull request to support this for android, but I'm not sure I will be able for iOS.

[2019-10-27 11:49] Vardiak commented on #94
I submited a pull request to fix this issue #95

[2019-10-27 11:49] #94 closed

[2019-10-27 18:46] tiholic commented on #94
Glad you discovered and fixed it. Thanks for the contribution. I will release it to pub in couple of days.

[2019-10-28 12:09] shamnex commented on #92
@Saifallak  did you find a fix??

[2019-10-28 14:41] aletorrado opened #97 "Uri should be automatically ended with a slash"
**Describe the bug**
Default socket.io client and server libraries automatically appends a slash at the end of the path. Adhara should do the same to stay compatible with them.

**Have you tried reproducing the issue with example available in this repo?**
No

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a server with any path, like /test
2. Try the default client library and debug th

[2019-10-29 10:33] agnoam commented on #3
Hey, what is the status of this problem ?
Are you still working on this ?

[2019-10-29 20:53] Saifallak commented on #92
@shamnex not yet, but seems working good. i just ignored the warning/error

[2019-10-30 06:06] aalfiann opened #98 "Client always disconnect then reconnected"
Actualy I this library has successful to send message and receive message. but there is one problem which is client is always disconnected and then reconnected itself for around 3 seconds. I have follow the example in this repo correctly but not solved.

I have developed socket io client for web version, and there is no issue in web version. socket is stable connected. web version is using transpo

[2019-10-30 06:57] aslamanver commented on #98
Hi @aalfiann ,

This issue is fixed in the below pull request, it will be merged to this library soon, meanwhile please use the fixed repository.

In your `pubspec.yaml`
[code]

Fixed pull request: https://github.com/infitio/flutter_socket_io/pull/96

[2019-10-31 02:45] Jasper-zzq commented on #3
I encountered the same problem. I don’t see it when I visit the local.

[2019-10-31 13:34] Jasper-zzq commented on #86
@tiholic [＃3](https://github.com/infitio/flutter_socket_io/issues/3) 	just like

[2019-10-31 19:04] Fatalius opened #99 "On all devices "websocket error""
First I added flutter_socket_io in to my project, and I never get connect to my socket.io server
Then launched an example from the repository and when I tap on any of the types of connections I get an error(device and emulator):

I / flutter (9586): io.socket.engineio.client.EngineIOException: websocket error
I / flutter (9586): io.socket.engineio.client.EngineIOException: websocket error
I / flut

[2019-11-03 07:06] aslamanver commented on #99
This is because you might use the IP address inside the emulator, please try to start from a real device.

[2019-11-06 14:40] CameronSima commented on #75
I'm also in need of this. Could you maybe point where you'd recommend starting working on it?

[2019-11-07 06:26] jiaochang opened #100 "当服务端返回需要AskCallBack时"
当服务端返回需要AskCallBack时， 客户端无法进入回调函数

问题发生在socket.dart第164行， 当arguments长度大于1时，
无法触发SocketEventListener， 因为它只需要一个参数，

[2019-11-07 12:48] darwin-morocho commented on #98
the issue still happens on iOS. I call manager to disconnect the user of my socket-io server and calling Navigator.pop to destroy the page but after few seconds this reconnect again even if the Page is not more visible.

[2019-11-07 12:57] darwin-morocho opened #101 "After a few seconds of disconnecting automatically it reconnects several times"
I call manager to disconnect the user of my socket-io server and calling Navigator.pop to destroy the page but after few seconds this reconnect again several times even if the Page is not more visible. The same problem if I call disconnect but my network state change the plugin reconnect to my socket-io.

[2019-11-08 10:12] aslamanver commented on #98
Hi @aalfiann ,

In iOS please try to downgrade the socket library and check it.

[2019-11-10 05:26] Mohammad-ezzidden commented on #64
i have the same issue as well , the socket trigger the event but did't go inside the callback method.

[2019-11-10 14:52] viplike opened #102 "Letsencrypt instruction | Running Socket.io nodejs server on SSL"
Hello, here is a ready config for using https connection with letsencrypt ssl.

**node.js code:**
[code]

**Dart part, standart code from an example:**
[code]

I've spent some days, so will be happy if somebody saves his / her time on this question.

[2019-11-12 09:04] ataberkw commented on #32
See **What socket io is not?** [here](https://socket.io/docs/)

[2019-11-12 20:29] MobilyteApps commented on #30
@saarang1995 Did you succeed with this while receiving events?

[2019-11-15 12:17] liusshuai commented on #70
@tiholic I still have this problem

[2019-11-15 15:54] ataberkw commented on #30
Same here. I see event trigger logs but there are no callbacks.

[2019-11-16 09:02] juicechu commented on #70
@tiholic latest official code not support `transports` configurate

[2019-11-16 09:07] juicechu commented on #70
https://github.com/socketio/socket.io-client-swift/blob/master/Source/SocketIO/Client/SocketIOClientOption.swift

[2019-11-18 02:18] liusshuai commented on #70
@juicechu  Where can I change it

[2019-11-18 10:59] juicechu commented on #70
@liusshuai
https://github.com/juicechu/flutter_socket_io/commit/20d7b402c2a3306dbdf6f7fd084f502b306538bc

[2019-11-18 13:00] MohamedAbdelhadyPro opened #103 "response 'on' > The Json Written Wrongly"
response 'on' > The Json Written Wrongly

code
[code]

response
[code]

[2019-11-19 10:33] Fatalius commented on #99
on a real device the same, see on subject "On all devices "websocket error""

[2019-12-03 03:14] ZNBmm commented on #87
me too

[2019-12-10 01:53] kadenchoi opened #105 "SSL cert problem"
can we connect servers without trusted certificate

![image](https://user-images.githubusercontent.com/4436215/70488200-e73beb80-1b32-11ea-88c3-a29a91f71541.png)

[2019-12-13 02:18] randomjoho commented on #87
found problem.

client ios 2.0
service 1.0

service node.js socket.io    need update.

[2019-12-13 10:00] nareshimv opened #106 "AndroidX compatibility issue after updating flutter"
After updating flutter version v1.9.1+hotfix.6 to v1.12.13+hotfix.5 . I'm not able run flutter project
**Stacktrace**

:adhara_socket_io:verifyReleaseResources (Thread[Execution worker for ':' Thread 3,5,main]) completed. Took 1 mins 6.691 secs.
AAPT2 aapt2-3.4.0-5326820-osx Daemon #0: shutdown
         *********************************************************
WARNING: This version of package_info

[2019-12-17 02:12] Caesarovich opened #107 "How to send a map as arguments for emit ?"
**Hello,**
In JS the emit method is like this:

`socket.emit('login', {UserID: 'User', Password: 'Pass'})`

In Dart (your lib) it must be done using a List:

`socket.emit('login', ["Hello world"])`

The problem is how can I instead use a Map because List doesn't allow me to 'key and value'.

Thanks.

[2019-12-20 11:28] fin-k opened #108 "Error io.socket.engineio.client.EngineIOException: xhr poll error"
I got io.socket.engineio.client.EngineIOException: xhr poll error. Please help me how to fix this.

[2019-12-23 11:03] handywijaya82 opened #109 "build failed with adharasocketio after flutter upgrade, please help to solve this"
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'adhara_socket_io'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 0s

[2019-12-26 14:33] Saifallak commented on #109
just add ANDROID_SDK_ROOT to system environments varriables. that equals to android.sdk.path

[2019-12-26 14:37] handywijaya82 commented on #109
I already have android sdk root to system environment variable. problem only occur with adhara_socket_io only, if I remove this plugin from pubspec yaml project runs normally, and no error.

[2019-12-26 18:16] Saifallak commented on #109
i know, that's a breaking change with latest flutter version, that you have to specify android_sdk_root in system environments

try adding "ANDROID_HOME" too

[2019-12-27 01:31] abdelrahman84 opened #110 "io.socket.engineio.client.EngineIOException: websocket error"
Hello,

I have copied the exact code in the example. I tried both with emulator, and physical android device. I am trying to connect with socket.io of local server of node js.

The local host is : http://127.0.0.1:3000/

I have tried with the code sample, all possible scenarios for local host, like:

http://127.0.0.1:3000/

http://localhost:3000/

http://ipaddress:3000/

http://10.0.2.2:3000

Also

[2019-12-27 02:19] youraleangseng opened #111 "Build Apk fore release error"
Exception
ProcessException: ProcessException: Permission denied
  ../adhara_socket_io-0.4.1/android/gradlew -I=/Users/../build/app -Pis-plugin=true -Ptarget-platform=android-arm,android-arm64,android-x64 assembleAarRelease

run: flutter build apk

<img width="724" alt="Screen Shot 2019-12-27 at 9 16 08 AM" src="https://user-images.githubusercontent.com/19517411/71497184-a14c8a80-2889-11ea-902c-003

[2019-12-27 05:19] saarang1995 commented on #3
@tiholic Hi, have you fixed the issue?
In my current scenario, I am able to connect to the socketIO server which we have on staging but not the one on production using iOS. Let me know if you require any inputs from my end like code snippets.

[2019-12-29 19:28] DyaryRaoof commented on #111
having the same issue

[2019-12-31 11:15] Machucho opened #112 "Server says that client its connected but client dont trigger onConnect"
Hello,
As said, i have a nestjs websocket server that triggers  a succes msg when the client try to connect,
also whe the client disconnects, but on the client onConnect listener never get triggered and i cant send or receive any msg.

Has somebody a similar error?

[2019-12-31 22:01] DyaryRaoof commented on #106
same issue

[2020-01-02 10:47] MeDeity opened #113 "AdharaSocketIoPlugin.h file not found"
**Describe the bug**
exception AdharaSocketIoPlugin.h file not found when archive

**Have you tried reproducing the issue with example available in this repo?**
yes!

![image](https://user-images.githubusercontent.com/25357490/71702673-d158d800-2e0b-11ea-8de8-5fabf4b0ddf5.png)

My application is ready to be released, and the flutter build ios command also runs successfully. However, when preparing

[2020-01-02 10:53] MeDeity commented on #113
![-9e8f61817af616f](https://user-images.githubusercontent.com/25357490/71663701-2efc0e80-2d91-11ea-8607-b09cce00517a.jpg)
![44d91c67df33f7e7](https://user-images.githubusercontent.com/25357490/71663703-302d3b80-2d91-11ea-886a-e9d807b90498.jpg)

[2020-01-02 14:50] oncleguigs commented on #3
Same issue here, did someone found a fix ?

[2020-01-03 07:03] MeDeity commented on #113
In my case,please use xcode open with Runner.xcworkspace not Runner.xcodeproj

[2020-01-03 07:03] #113 closed

[2020-01-04 21:11] zcr1 commented on #6
A simpler workaround would be to either expose a method to a) disconnect all sockets or b) get existing sockets.

[2020-01-05 03:46] #107 closed

[2020-01-05 10:41] saarang1995 commented on #3
After too many trials and failures, I have finally written a solution in Javascript until we have a working solution for Flutter. I am writing a blog about it and will share the solution there with a complete explanation. I will add the link here for reference as soon as possible.

[2020-01-05 18:46] zcr1 commented on #6
I ended up adding a method to disconnect all existing sockets that I call before connecting.

Added to `SwiftAdharaSocketIOPlugin.swift` handle function
[code]

Added to `Manager.dart`
[code]

[2020-01-06 03:34] DMCHZP commented on #110
+1

[2020-01-07 06:11] saarang1995 commented on #30
I have come up with a solution using javascript. Please read my blog for the complete solution:
https://saarangtiwari.com/blog/how-i-used-javascript-to-bridge-and-connect-to-websockets-in-flutter

[2020-01-07 06:12] saarang1995 commented on #3
@oncleguigs @Jasper-zzq @agnoam
I have come up with a solution using javascript. Please read my blog for the complete solution:
https://saarangtiwari.com/blog/how-i-used-javascript-to-bridge-and-connect-to-websockets-in-flutter

[2020-01-12 06:12] afinas-em commented on #92
Did you find the solution?

[2020-01-14 00:22] leviatan21 commented on #106
Any news on this ?
Thanks

[2020-01-14 02:12] barees63 commented on #110
I'm seeing the same behavior, every few seconds this error is thrown on both Emulator and physical Android devices.  No problems on iOS.

[2020-01-14 16:55] CodeStrings opened #114 "Cant receive Packets with a AckCallback"
**Description**
Packets that are send with a AckCallback are not accesible trough socket.on.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a Packet with a Callback to the Client
2. Register with socket.on
3. Send Packet without Callback and it will work fine

**Expected behavior**
Execute .on and have a way to send back a result for the callback.

[2020-01-14 17:28] CodeStrings commented on #114
Digging further it seems like it is just because of the length of the message. Whats the limit?

[2020-01-16 15:58] XiovV opened #115 "Any news on the build erros?"
**Describe the bug**
when running `flutter build apk` this error pops out.
[code]

**Have you tried reproducing the issue with example available in this repo?**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. run `flutter build`

**Expected behavior**
Compiled apk.

**Device details:**
 - Device Type: Emulator
 - Model: Pixel

[2020-01-18 23:33] leviatan21 commented on #106
More than a month later and nothing yet.
Please respond:
Is this pkg abandoned ? or should we use another package

[2020-01-19 04:42] tweikiang commented on #115
having same issue as well

[2020-01-21 20:55] tayseer9 commented on #115
I fixed this error by changing compileSdkVersion from 27 to 28 in the build.gradle of the this dependency.

[2020-01-21 20:57] tayseer9 commented on #106
I fixed this error by changing compileSdkVersion from 27 to 28 in the build.gradle of the this dependency.

[2020-01-25 05:50] Appjak34 commented on #6
When I restart my flutter app, another instance of a socket is created, but the previous one is not disconnected nor does it callback the dispose.
What can I do to send disconnect to the server from my flutter application and not create another instance of socket ?

[2020-01-25 22:45] hatemragab opened #116 "json not received while any string received"
while emit event from server
if data is json format not received if any string data will received

[2020-02-06 14:11] leonetosoft commented on #108
same problem here

[2020-02-06 21:43] NarHakobyan commented on #111
any updates?

[2020-02-10 04:21] srcker opened #117 "Error running pod install"
CDN: trunk URL couldn't be downloaded:
    https://raw.githubusercontent.com/CocoaPods/Specs/master/Specs/6/2/4/Socket.
    IO-Client-Swift/8.3.0/Socket.IO-Client-Swift.podspec.json, error: Failed to
    open TCP connection to raw.githubusercontent.com:443 (Connection refused -
    connect(2) for "raw.githubusercontent.com" port 443)

[2020-02-19 15:09] tazik561 opened #118 "EngineIOException: websocket error"
Accoeding this  structure i write this code :
https://pub.dev/packages/adhara_socket_io

[code]
now when i run application on emulator i got this error:
Syncing files to device Android SDK built for x86...
[code]

I also added add android:useCleartextTraffic="true" inside the application tag of AndroidManifest.xml.

For sure that socket server works correctly i am using socket.io tester chrome ext

[2020-02-21 01:56] gustavo-perini commented on #111
Same issue here

[2020-02-21 06:48] NarHakobyan commented on #111
@gustavo-perini you can use my fork, It's working nice

[2020-02-29 13:34] Gowtham03 commented on #30
Hai
I have also faced the same problem, Issue is callback function(type SocketEventListener) only supports single arguments.

https://github.com/infitio/flutter_socket_io/blob/master/lib/socket.dart:5
`typedef void SocketEventListener(dynamic data);`

**My Fix:**
Changed the server-side to emit with a single argument.

[2020-03-20 13:07] Saifallak commented on #92
Fix for this issue by raising Compile To Android Version and Gradle Version
File : `...\flutter\.pub-cache\hosted\pub.dartlang.org\adhara_socket_io-0.4.1\android\build.gradle`
`classpath 'com.android.tools.build:gradle:3.5.3'` @ line 11
`compileSdkVersion 29` @ line 25

File : `...\flutter\.pub-cache\hosted\pub.dartlang.org\adhara_socket_io-0.4.1\android\gradle\wrapper\gradle-wrapper.properties`
`

[2020-03-26 06:21] singlakaran commented on #109
@Saifallak  i tried but still not working.

[2020-03-26 08:23] Saifallak commented on #109
`flutter doctor -v` can you show me the output of this command ?

[2020-03-26 09:19] singlakaran commented on #109
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.12.13+hotfix.8, on Linux, locale en_IN)

[!] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor --android-licenses
[✓] Android Studio (version 3.6)
[✓] Connected device (2 available)

! Doctor found iss

[2020-03-26 09:45] Saifallak commented on #109
@singlakaran please run
`flutter doctor -v`
Not
`flutter doctor`

[2020-03-26 09:58] singlakaran commented on #109
@Saifallak
[✓] Flutter (Channel stable, v1.12.13+hotfix.8, on Linux, locale en_IN)
    • Flutter version 1.12.13+hotfix.8 at
      /home/karan/Downloads/flutter_linux_v1.9.1+hotfix.4-stable/flutter
    • Framework revision 0b8abb4724 (6 weeks ago), 2020-02-11 11:44:36 -0800
    • Engine revision e1e6ced81d
    • Dart version 2.7.0

[!] Android toolchain - develop for Android devices (Android SDK v

[2020-03-26 11:23] Saifallak commented on #109
@singlakaran
there is something wrong, you didn't put `ANDROID_HOME` and `ANDROID_SDK_ROOT` to PATH

if it's added , your `flutter doctor -v` android part should be like this

[code]

you can see it can detect ANDROID_SDK_ROOT (2nd line) and ANDROID_HOME (5th line)

also run `flutter doctor --android-licenses` and accept the licenses, so you can get rid of that warning

[2020-03-31 08:35] karnitsan commented on #42
thanks! it works.

[2020-04-03 11:33] yase-hesham opened #119 "getting data from socket when app is in background ios"
is there any permissions in need to app to info.plist to continue receiving data from socket when app is in backgroud (IOS) ?

[2020-04-03 18:45] misaelriojasftf commented on #119
have you tried?
[code]

[2020-04-04 19:20] misaelriojasftf commented on #118
Have you tested that connection? I've implemented without issues

[2020-04-05 04:42] #118 closed

[2020-04-06 07:10] naveen-krishna opened #121 "Execution failed for task ':adhara_socket_io:verifyReleaseResources'."
**Describe the bug**
Build failed with an exception, when I tried to build release apk.

**Have you tried reproducing the issue with example available in this repo?**
Yes, same error.

**To Reproduce**
Steps to reproduce the behavior:
1. flutter build appbundle
2. flutter build apk

**Expected behavior**
build a release apk

**Relevant Logs**

[code]

[2020-04-09 01:52] rizaldyaf commented on #115
this doesn't work for me, its changing the building method to jetifier which is leads to other error on other libraries. any help?

[2020-04-11 11:09] angelhdz opened #122 "[MISSING FEATURE] secure SocketOption parameter gone in latest version"
secure SocketOption parameter gone in the latest version. We can not connect via HTTPS.

On the Javascript client we can connect with the SSL certificate perfectly via https://address:port, that means both the JS client and the NodeJS server are working fine.

Error:

I/flutter ( 8007): io.socket.engineio.client.EngineIOException: websocket error

[2020-04-15 12:16] KVGarg commented on #121
Hey! I just resolved this issue in my flutter project by changing the `compileSdkVersion` to 29
The error is raised because in SdkVersion 28 some new properties were added i.e. `fontVariationSetting` and `ttcIndex`. So, to resolve this issue we just need to change `compileSdkVersion` from 27 -> 28

[2020-04-16 05:15] #121 closed

[2020-04-16 06:50] KVGarg commented on #121
Hey! The issue still needs to be resolved in this plugin. Th plugin should be made compatible to support sdk>=28 too. If not made, the error will still persist and the developer will have to separately change this plugin settings to make it compatible with their application.
Should I create a PR to solve this issue?

[2020-04-16 07:27] DenisMrGnusa opened #123 "Enable Socket.io in background"
how do I enable socket.io in the background. and what is the effect on the device?

[2020-04-17 22:52] #73 closed

[2020-04-21 09:47] LuongHai-7buon commented on #58
I am creating an apk release file and I get this error, Can someone please help me?

* What went wrong:
Execution failed for task ':adhara_socket_io:verifyReleaseResources'.

     /Users/app/.gradle/caches/transforms-2/files-2.1/0a271e99b6771ad4a84318244d532fb7/core-1.0.0/res/values/values.xml:57:5-88:25: AAPT: error: resource android:attr/fontVariationSettings not found.
     /Users/app/.gradle/c

[2020-04-24 04:08] LuongHai-7buon commented on #28
@castrojr913 Have you solved this problem?

[2020-04-25 12:15] husmen73 commented on #122
We are using with SSL Socket Server URL like https://socket.server.com

[2020-04-25 12:31] husmen73 opened #124 "Hot Reload Causes Multiple SocketIO Client Instances"
**Describe the bug**
Server side gets lots of connection from device in debug mode when clieck the hot reload or restart button on Intellij IDEA IDE. The device can't see other connection processes except one connection. There isn't any other socket connection except one in release debug mode. Its only occurs in debug mode.

We are using deviceID for socket.id. So all generated socket.id's are sam

[2020-04-26 02:38] angelhdz commented on #122
Thank you for replying.  Can you help me understand why can't I , and another mate, connect via HTTPS to a nodeJS server in a Flutter app? Is it a restriction of the Android Emulator?

[2020-04-26 02:39] #122 closed

[2020-04-26 05:14] vksBhardwaj opened #125 "Connection Reconnecting after every 10 seconds"
HI

When i trying to connect with server then it connect successful and after every 8-10 seconds its disconnect and connect again due to this some time i am not getting response

**Have you tried reproducing the issue with example available in this repo?**
Yes/No?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

I want my C

[2020-04-26 06:49] vksBhardwaj commented on #28
Any body solved  this issue am getting same error

[2020-04-26 20:08] vpaul9678 opened #126 "Token is not working with Socket"
It works well when I am connecting the socket to the server without token.
But it generates an error when i am using socket with token.

Here is the code that integrated when I am using token.

SocketOptions getSocketOptions(){
return SocketOptions(URI,
      nameSpace: "/",
      query: {
        "my_id": id,
        "auth": authToken //.substring(4),
      },
      enableLogging: true,
      tra

[2020-04-27 05:12] Bricktheworld commented on #106
Yo can someone please fix this fucking package, its such a simple solution what @tayseer9 suggested and it works. please just fix it

[2020-04-29 09:07] DenisMrGnusa commented on #12
you can try
https://github.com/infitio/flutter_socket_io/issues/42#issuecomment-513459096

[2020-04-29 09:08] DenisMrGnusa commented on #110
you can try this socket error: io.socket.engineio.client.EngineIOException: websocket

[2020-04-29 09:09] DenisMrGnusa commented on #118
https://github.com/infitio/flutter_socket_io/issues/42#issuecomment-513459096

[2020-04-29 09:09] DenisMrGnusa commented on #99
maybe,,
https://github.com/infitio/flutter_socket_io/issues/42#issuecomment-513459096

[2020-04-29 09:09] DenisMrGnusa commented on #73
https://github.com/infitio/flutter_socket_io/issues/42#issuecomment-513459096

[2020-05-06 00:12] breitembach commented on #42
[code]

[2020-05-06 00:16] breitembach commented on #115
any solution?

[2020-05-07 11:01] husmen73 commented on #125
Hi @vksBhardwaj

We have similar problem https://github.com/infitio/flutter_socket_io/issues/124

You need to use "release debug mode" to avoid these problems.

[2020-05-07 11:07] vksBhardwaj commented on #124
@husmen73 our problems are different. Your problem is due to not maintain Activity lifecycle during Hot Restart.
But my problem is due to some header missing from backend

[2020-05-17 05:52] Microinstance opened #127 "Build failed"
* What went wrong:

Execution failed for task ':adhara_socket_io:verifyReleaseResources'.

     C:\Users\Microinstance\.gradle\caches\transforms-2\files-2.1\bc3621e68f8e89178ad8f39e449bedd9\core-1.1.0\res\values\values.xml:142:5-173:25: AAPT: error: resource android:attr/fontVariationSettings not found.

     C:\Users\Microinstance\.gradle\caches\transforms-2\files-2.1\bc3621e68f8e89178ad8f39e449b

[2020-05-22 08:58] disenyang commented on #127
How to resolve?

[2020-05-23 11:48] #109 closed

[2020-05-23 11:48] #115 closed

[2020-05-23 11:48] #92 closed

[2020-05-23 11:48] #106 closed

[2020-05-23 12:18] tiholic commented on #127
@Microinstance @disenyang this only on windows or MacOS too?

[2020-05-23 20:44] tiholic commented on #111
@youraleangseng please check in the latest release. Compile SDK version is upgraded and should be working fine.

[2020-05-23 20:49] tiholic commented on #54
Performing a `flutter clean` and full restart will resolve this problem

[2020-05-23 20:52] tiholic commented on #110
Hope this issue is resolved.
Thanks @DenisMrGnusa

Same is highlighted in [README](https://github.com/infitio/flutter_socket_io#android-support-for-sdk--27)

[2020-05-23 20:52] #110 closed

[2020-05-23 20:54] tiholic commented on #108
Please see https://github.com/infitio/flutter_socket_io#android-support-for-sdk--27

[2020-05-23 20:54] #108 closed

[2020-05-23 20:55] tiholic commented on #103
@MohamedAbdelhadyPro what is the expected result here?

[2020-05-23 20:56] tiholic commented on #99
Hope this issue is resolved @Fatalius

Closing this. Feel free to re-open if required.

[2020-05-23 20:56] #99 closed

[2020-05-23 21:01] tiholic commented on #126
@vpaul9678 Hopefully https://github.com/infitio/flutter_socket_io/pull/128 resolves this issue

[2020-05-23 21:04] tiholic commented on #125
https://github.com/infitio/flutter_socket_io/pull/128

This PR should resolve your issue. Please try pointing to source branch and test with any android device

[2020-05-23 21:07] tiholic commented on #117
@srcker seems to be an issue with your network/SSL

[2020-05-23 21:07] #117 closed

[2020-05-23 21:07] tiholic commented on #116
@hatemragab Isn't your use-case covered in the example? did you try running the example?

[2020-05-23 21:09] tiholic commented on #114
@CodeStrings there is no length restrictions from this library. If you could share further information on this, it would be helpful.

[2020-05-23 21:09] #114 closed

[2020-05-23 21:10] hatemragab commented on #116
Yeah

[2020-05-23 21:11] tiholic commented on #102
Thanks for the share @viplike
Hope this helps someone

[2020-05-23 21:11] #102 closed

[2020-05-23 21:12] tiholic commented on #116
Can you share any code snippet? I will try it right away.

[2020-05-23 21:19] tiholic commented on #58
@LuongHai-7buon try latest release or check out source branch from https://github.com/infitio/flutter_socket_io/pull/128

[2020-05-23 21:20] tiholic commented on #121
@KVGarg released with https://github.com/infitio/flutter_socket_io/pull/120

[2020-05-23 21:21] tiholic commented on #92
Thanks @Saifallak for the PR

[2020-05-24 00:08] Saifallak commented on #127
this should be fixed in #120 too.

[2020-05-25 23:13] barees63 commented on #54
I don't think this issue should be closed, using 0.4.2 I'm getting exactly the same error, flutter clean and restart does not help, I also tried removing it completely (and manually removing references from xcode) then reinstalled it and same error.

[2020-05-26 07:11] tiholic commented on #54
@barees63 thanks for the details. Let me see what can be done with the inputs I have.

[2020-05-26 12:25] feranmii commented on #54
@tiholic @barees63 I solved the issue by registering the plugin in the App Delegate.
First I added the path to `Runner-Bridging-Header.h`
[code]
Then I went ahead to add the line below to the `AppDelegate.swift` after `GeneratedPluginRegistrant.register(with: self)`

```AdharaSocketIoPlugin.register(with: self.registrar(forPlugin: "AdharaSocketIoPlugin")! )```

[2020-05-26 13:48] tiholic commented on #71
This could be a possible solution for this problem https://github.com/infitio/flutter_socket_io/issues/54#issuecomment-633992035

[2020-05-26 13:48] #71 closed

[2020-05-27 04:39] stoneLee81 opened #129 "can't connect to netty-socketio server"
netty-socketio server: 1.7.18
Flutter 1.12.13+hotfix.9
Dart 2.7.2
adhara_socket_io: ^0.4.2

I use adhara to connect to my nett-socketio IM server, but it failed.
demo code like this:
String urladdr = "http://192.168.122.96:15327/im/agent";

    SocketIOManager manager = SocketIOManager();
		SocketIO socket = await manager.createInstance(
      SocketOptions(
        urladdr,
        nameSpace: "/s

[2020-05-27 05:42] tiholic commented on #129
@stoneLee81 I am unable to connect to the URL mentioned from browser. Tried this. Can you confirm if your server is accepting connections?

[code]

[2020-05-27 09:18] pdivita commented on #54
I'm using AppDelegate.m, I've added this line

`[AdharaSocketIoPlugin registerWithRegistrar:[registry registrarForPlugin:@"AdharaSocketIoPlugin"]];`

But I get this error:

[code]

Any hint?

[2020-05-27 10:00] tiholic commented on #54
@pdivita you missed the import statement. Import `AdharaSocketIoPlugin.h` into your AppDelegate

[2020-05-27 10:31] pdivita commented on #54
Little update (I had problem only on iOS though):
0.4.1 works without any type of source modifications (.h / .m)
0.4.2: I've added your import, now I get:

[code]

My Flutter:
[code]

[2020-05-27 10:51] tiholic commented on #54
@pdivita Pass `self` instead of `registry` as that is the registry required by registrar

did you try `0.4.1` with `flutter 1.17.1`? I'm suspecting this to be an issue with 1.17.1 as I too started facing this while working on further enhancements.

[2020-05-27 12:08] pdivita commented on #54
I have 0.4.1 version of plugin and Flutter 1.17.1 on a production app available in the AppStore.
Adding self compiled correctly, but crashes at start.
[code]
I'm reverting back to 0.4.1 because I need to update the app.
I'm available for testing though.

[2020-05-29 05:07] stoneLee81 commented on #129
https://sit.tim.tomatotrip.com/im/agent?appid=ADELUfkRseKRx9LFSq0CaWvJnqxsVdIdbkTMojyA5OtYFuzrG4Ic4FJvQTenWohTXDdvRnuBTcTLHsxoGZaCMnY8NNmlZKbirSzDjafgISZBToju7GMeCbg&userid=ADELUfk9_WdopoTSU7tJ1h0sXVUit5RyfkEzaPM1FDRBp_Fr8CcgblXkOwMif_ujcFzkY-70-rxz3-N66eiKBmdQ2UUxzyCf_g&ticket=ADELUfkeKnvMku5xmXlOHFzfXAFvuYl8M9RKJO3OQnmi4O4jwENf3j-Xt27UQK4B7cW7o9EHQhVOtsOZMlZf3xU5ag1oCVy1evbzq36d2KpWT1AK1jJ-Cf-hX

[2020-06-02 14:21] mawippel commented on #122
I'm having the same issue @angelhdz. I can't connect to a HTTPS NodeJs server through my Flutter App.

`I/flutter ( 7132): io.socket.engineio.client.EngineIOException: websocket error`

[2020-06-02 14:24] husmen73 commented on #122
If you're using nginx please check your config.

My config like that:

`location / {
            proxy_set_header Host             $host;
            proxy_set_header X-Real-IP        $remote_addr;
            proxy_set_header X-Forwarded-For  $proxy_add_x_forwarded_for;
            proxy_pass         http://localhost:10001;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set

[2020-06-02 14:28] mawippel commented on #122
I'm not using NGINX. My socket is NodeJS application using Socket.io, deployed on Azure Web App.
I think that's there's a problem with HTTPS connections.

[2020-06-02 16:58] mawippel commented on #122
I was able to make it work deploying my socket application on an Azure VM, exposing the port 80 for HTTP connections. Probably Azure Web App has a security layer that was causing the connection error.
I suspect that the error that i had before was during the handshake phase.

[2020-06-02 17:43] ashifa454 commented on #28
did anyone found a solution for this issue?

[2020-06-02 18:14] angelhdz commented on #122
My mate solved it by making a pipe that connected both http and https conecctions in NodeJS. I haven't tried it yet, but I guess it should work for me as well.

[2020-06-03 12:30] #129 closed

[2020-06-04 06:49] Khmerfones commented on #58
When I run pod install, I got these error
What happened?

[!] CocoaPods could not find compatible versions for pod "adhara_socket_io":
  In Podfile:
    adhara_socket_io (from `.symlinks/plugins/adhara_socket_io/ios`)

Specs satisfying the `adhara_socket_io (from `.symlinks/plugins/adhara_socket_io/ios`)` dependency were found, but they required a higher minimum deployment target.

[2020-06-06 01:26] SankhaJay commented on #3
hey guys
try adding inside the android/app/src/main/AndroidManifest.xml file this
<application
      ....
      ....
      android:usesCleartextTraffic="true">

[2020-06-08 04:05] monkeyMax-SVG opened #130 "adhara_socket_io is not working in Release apk"
Hello. how are you?
I am working on super simple app with adhara_socket_io.

I have built the simple nodejs server on my local. (http://192.168.110.80:3000)
I used adhara_socket_io 0.4.2+1.

It was working in debug apk  perfectly.
So I have built release apk.
But After I build release apk, it was not working. I mean it doesn't have socket communication with server.

I am using Windows 10.

[code]

[2020-06-08 06:53] tiholic commented on #130
@monkeyMax-SVG have you made sure you are on the same network as your server?

[2020-06-08 17:01] vpaul9678 commented on #126
thank you

[2020-06-08 20:56] jweidner-mbible opened #131 "listener passed to SocketIO.on() not being called"
D/Adhara was logging Socket triggered::event-name but our listener was not getting called nor was any error being logged.  I had declared our listener as:
[code]
and subscribed to the events using
[code]
In debugging this situation, I noticed that when _handleData in socket.dart would try to call our listener using Function.apply, the arguments List contained two elements instead of one.  So to ge

[2020-06-10 15:07] breitembach opened #132 "Don't accept emit for a List of object"
**Describe the bug**
A clear and concise description of what the bug is.

**Have you tried reproducing the issue with example available in this repo?**
Yes/No?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Device details:**
 - Device

[2020-07-02 06:08] #111 closed

[2020-07-02 06:08] youraleangseng commented on #111
thank

[2020-07-02 09:29] jerryzhoujw opened #133 "How to send byte data ?"
**Describe the bug**
How to send byte data ?

I'm trying to send byte data(which is audio data) using socket IO. but get error

[code]

**Have you tried reproducing the issue with example available in this repo?**
No

[2020-07-03 00:47] jerryzhoujw opened #134 "How to find out the reason of "io.socket.engineio.client.EngineIOException: websocket error""
**Describe the bug**

I run the example folder, with replace of the WebSocket url with `wss://api.blablaapp.cn:443/models/stream/bosk?original=aaa`

But get error : `io.socket.engineio.client.EngineIOException: websocket error`

What should I do to find out the more detailed reason.

[2020-07-03 21:02] d1bug commented on #87
兄弟，解决了没？这个问题我在netty-socketio里面去看了，服务器端才是根源，可惜那里也没有好的解决方案，都试过了，ios在polling的时候乱码。。。

[2020-07-04 02:11] ZNBmm commented on #87
看下服务器的socket.io的版本是不是太低了

[2020-07-04 09:33] smasinde opened #135 "Logging not displaying for iOS but Android is fine"
**Describe the bug**
Logging is not showing for iOS but on Android they show.

**Have you tried reproducing the issue with example available in this repo?**
No

**Device details:**
 - Device Type: Simulator
 - Model: iPhone 11
 - OS: 13.5

**Relevant Logs**
The absence of logs is the issue

[2020-07-10 14:21] Atuldubey98 commented on #3
Was this problem solved?? Connecting of socket infinite no of times and then disconnecting.

[2020-07-13 16:39] bryanus1 opened #136 "Error when build APK"
Create my project with a flutter version v1.9.1+hotfix.6, when upgrade flutter to build apk have problem this dependence.
Error that show me editor is:
[code]

Flutter doctor is:
[code]

Thanks for your help.

[2020-07-14 18:46] XiovV commented on #130
@monkeyMax-SVG you need to give the app the internet permission. The debug version has it on by default, but the release version doesn't.

[2020-07-15 05:16] vksBhardwaj commented on #28
got it solution for this error

[2020-07-15 10:10] theromie commented on #28
pie by default only support https, you need to add:

android:useCleartextTraffic="true"

inside the application tag of AndroidManifest.xml

in order to use http in Android Pie

[2020-08-01 05:47] lmr520 commented on #134
are you resolve it?

[2020-08-01 05:55] lmr520 opened #137 "io.socket.engineio.client.EngineIOException: websocket error"
**Describe the bug**
run example  get error  io.socket.engineio.client.EngineIOException: websocket error

**Have you tried reproducing the issue with example available in this repo?**
Yes/No?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2020-08-03 05:36] #137 closed

[2020-08-05 07:29] lmr520 opened #138 "cant receive from server ,message data is byte [] not is json"
**Describe the bug**
A clear and concise description of what the bug is.

**Have you tried reproducing the issue with example available in this repo?**
Yes/No?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Device details:**
 - Device

[2020-08-06 03:49] lmr520 commented on #138
or   socket.on('chatEvent', (data) {
      print(data);
    });     I see the data.type is String  but from server is byte []
need i do some thing for  receive  the byte []

[2020-08-06 03:53] #138 closed

[2020-08-06 03:54] lmr520 opened #139 "I see the data.type is String but from server is byte [] need i do some thing for receive the byte []"
**Describe the bug**
A clear and concise description of what the bug is.

**Have you tried reproducing the issue with example available in this repo?**
Yes/No?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Device details:**
 - Device

[2020-08-06 06:16] lmr520 commented on #38
current version is support receive byte [] or other type data? usually  ours IM server send byte [] not json or string ,I have a big trouble for it

[2020-08-09 08:47] jerryzhoujw commented on #134
@Imr520 this error is gone, but not remember how solved.

[2020-08-09 08:47] #134 closed

[2020-08-26 14:27] kutigbolahan commented on #46
@allansrc i tried using another url with https and i keep getting this error: OpensslErr:Module:16(247:); file:external/boringssl/src/ssl/tls_record.cc ;Line:242;Function:tls_open_record

[2020-09-01 14:50] Shashoug opened #140 "I want to reach an Event inside channel with Socket.IO"
i used this library for listening to an specific event inside a channel here's my code snippet:
`  try{
  SocketIOManager manager = SocketIOManager();
  SocketIO socket = await manager.createInstance(SocketOptions('http://127.0.0.1:3000',nameSpace: '/',enableLogging: true,path: null));       //TODO change the port  accordingly
  socket.onConnect((data){
    print("connected...");
    print(data);

[2020-09-09 12:01] deepashree-ballodi commented on #140
Same here

socket.on("senderPeer",(message) {
      print(message);
    });

nothing is printing

[2020-09-09 12:03] deepashree-ballodi commented on #131
Is this issue fixed? I am facing same issue.

[2020-09-16 06:04] Snofkin opened #141 "Socket is connected and also triggering erros every few seconds"
I am having an issue as tthe socket is disconnected and again connected every evere few seconds .I have already added
android:usesCleartextTraffic="true" in my manefist file. My log is as below

D/Adhara:Socket(32095): Socket triggered::connect_error
D/Adhara:Socket(32095): Socket triggered::connect_error
D/Adhara:Socket(32095): Socket triggered::error
D/Adhara:Socket(32095): Socket triggered::dis

[2020-09-17 20:40] don-k-jacob opened #142 "createInstance( ) argument with url not working according to docs"
**Describe the bug**
A clear and concise description of what the bug is.

**Have you tried reproducing the issue with example available in this repo?**
Yes/No?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
{
	"code": {
		"value": "undef

[2020-09-29 11:36] RaistlinTAO commented on #103
For flutter env, this json string cannot be decoded since the common json_serializable plugin need the valid json string like this

{'activity':  'Noura Hassan Join', 'created_at': '11:34:41'}

unless its int ofc

[2020-10-11 02:47] Yaser-Altalhi commented on #47
Hello,
**I have managed to solve the problem.**

1- Delete the ios folder in your project.
(Note: we will recreate it in step 2).

2- Recreate iso folder and enable swift support.
terminal command:
`flutter create -i swift `
or
`flutter create -i swift -a kotlin .`
or
`flutter create -i swift -a kotlin --org com.custom_name --project-name my_proyect .`
(Note: make sure you include the dot at the e

[2020-11-19 16:42] rajputvarun591 commented on #6
Same problem i am facing. also i want to know how to continuously listen for a socket event like for receive a chat message.

[2020-12-04 13:22] rafampessoa opened #143 "Cannot connect to socket.io V3"
Is possible to connect with socket.io V3?

I'm trying to connect with socket.io V3 and got an "Error" message on listening ` socket.onError((e) {});`, with Socket.io V2 is connecting

seems the same problem that
https://github.com/rikulo/socket.io-client-dart/issues/130

Thanks for the lib

[2020-12-08 12:03] vpaul9678 opened #144 "How to add nameSpace section in socket_io for iOS?"
**path/nameSpace is not accept in socket_io for iOS**

I try to use a namespace in socketOption section but it is not working.  Below is my code.

**My code**

[code]

**Library code**
[code]

[2020-12-14 03:10] passsionforprogramming commented on #112
Socket.io has had major changes. The server past 3.0 cannot connect with older client versions.

[2020-12-24 23:30] passsionforprogramming commented on #143
You could probably upgrade it yourself. If you checkout the build.gradle you can see that it's using version 1. You could upgrade that a number and use the package yourself or share it with others. Same thing in iOS

![Screen Shot 2020-12-24 at 5 27 52 PM](https://user-images.githubusercontent.com/54683045/103110999-afa0c400-460d-11eb-8346-5ad7838d6a3b.png)

[2021-01-03 11:50] FreddyKaiser commented on #70
Same here, will this be officially fixed or do we have to "patch" manually ?

[2021-01-04 17:22] tiholic commented on #70
@FreddyKaiser feel free to create a PR, I will review and schedule for a release

[2021-01-05 12:50] vksBhardwaj commented on #141
@Snofkin any update on this ?

[2021-01-08 06:29] Kishan-Somaiya opened #145 "How to set the timeout for Socket ?"
How to set the timeout for Socket ? You can read more about it here : [Socket](https://socket.io/docs/v3/client-api/index.html).

[2021-01-14 14:02] MusabAbid opened #146 "Socket triggered::connect_error"
**Describe the bug**
W/.flutter_rwtap( 5678): Accessing hidden method Ldalvik/system/CloseGuard;->get()Ldalvik/system/CloseGuard; (light greylist, reflection)
W/.flutter_rwtap( 5678): Accessing hidden method Ldalvik/system/CloseGuard;->open(Ljava/lang/String;)V (light greylist, reflection)
W/.flutter_rwtap( 5678): Accessing hidden method Ldalvik/system/CloseGuard;->warnIfOpen()V (light greylist, r

[2021-01-17 08:41] souravmunjal opened #147 "Receiver not called when data is received , when i send data receiver is called"
I see the socket connected and when i emit the data it works perfectly the data is sent and the receiver for the event is triggered, but when the data is sent from the server the receiver doesn't triggers. I don't know why that's happening?
[code]

[2021-01-20 03:40] rupamking1 opened #148 "Is http2 supported"
can I use http2 in socket io ?

[2021-01-21 12:51] kamleshwebtech opened #150 "basic connection issue on local computer"
Getting error in flutter console:

[code]

Kindly suggest what is the issue and how can we remove it to proceed. Thanks.

Look forward to hear you.

[2021-01-27 00:07] mannnish commented on #3
it's 2021 and i am still facing the exact same issue.

[2021-01-27 08:04] shekhutsav1962001 commented on #58
The argument type 'String' can't be assigned to the parameter type 'SocketOptions'.
WHY i m getting error like this ?

[2021-01-28 08:28] idevchandra opened #151 "Team, please respond: Connection timeout on Android"
**Describe the bug**
Android connection is timingout. But, iOS is fine.

#### Environment:

Server: Node.js
Client: Flutter with Adhara socket.io
iOS Emulators: iOS 14.2 iPhone 12 Pro and iPhone 12 mini
Android Emulators tried: Pixel 3a API 30. Pixel 4 API 30.

**Have you tried reproducing the issue with example available in this repo?**
Yes

**To Reproduce**
Steps to reproduce the behavior:
1. Ha

[2021-01-28 19:04] idevchandra commented on #131
@tiholic @jweidner-mbible @deepashree-ballodi @alexHimik : Guys, please please respond to the issues. There are pending ones. We invested project schedules and time in using this library. Please address the issues.

[2021-01-29 06:55] idevchandra opened #152 "Request to this repo contributors and maintainers"
I see that all the issues are assigned to @tiholic (Rohit Reddy Abbadi). Looks like he is not active on this repo anymore fixing the defects. None of the issues were responded.

Can any of the repo contributors please take those defects from his plate?

Tagging:
@Saifallak @alexHimik @HenrikThien @Vardiak @lhcdims @brooth @mirkancal @aslamanver @aurbina83

[2021-01-29 09:33] Vardiak commented on #152
I personally switched to using socket_io_client which is a pure Dart implementation of the socket.io protocol. This approach should be prefered instead of using an old implementation of socket.io for Android and iOS with a Dart interface.

[2021-01-29 09:36] idevchandra commented on #152
@Vardiak : Thanks much for quick response. Much appreciate it.

[2021-01-29 09:37] idevchandra commented on #152
Closing issue!

[2021-01-29 09:37] #152 closed

[2021-02-04 05:53] RageshAntony opened #153 "Build Error : error: type of expression is ambiguous without more context when building iOS"
**Describe the bug**
when building I am getting following error

                                        _
[code]

**Have you tried reproducing the issue with example available in this repo?**
No?

**To Reproduce**
Steps to reproduce the behavior:
Just build with new version of flutter

**Expected behavior**
A clear and concise description of what you expected to happen.

**Device details:**

Flut

[2021-02-16 17:59] liqiang1995 commented on #153
I got the same error.
Did you fix?

[2021-02-16 18:00] liqiang1995 commented on #153
![Uploading image.png…]()

[2021-02-16 18:02] RageshAntony commented on #153
No .

But The repo owner promised that they will fix it by next week

On Tue, 16 Feb, 2021, 11:29 PM Super Coder, <notifications@github.com>
wrote:

[2021-02-16 18:54] liqiang1995 commented on #153
this package was working yesterday.
But after I have reinstalled the pod for a new package, I can not build iOS.
what is the problem?

[2021-02-18 06:35] vksBhardwaj commented on #151
@idevchandra did your connection timeout randomly or after particular time interval?

[2021-02-18 06:35] vksBhardwaj commented on #151
try using this dependencies
[code]

[2021-02-19 20:47] hatemragab opened #154 "is pulgn support callback"
i want to implement  something like
server code
[code]

clint code

[code]

how to perform that in dart callback function
not supported in dart version

[2021-02-20 20:17] tiholic commented on #154
@hatemragab if you want to use callbacks, please check out `emitWithAck` which will return a promise.

You can do something like:

[code]

-or-

[code]

[2021-02-21 05:47] hatemragab commented on #154
Thanks for replying
I already know this case that clint emit what about if server emit and need to confirm that the clint has received

[2021-02-21 08:23] Danish777 commented on #151
yes, I am facing same issue

[2021-02-23 13:00] changyeun commented on #153
i got the same error.
fix please

[2021-03-02 06:15] tiholic commented on #153
It is taking time for me to find the root cause of issue. Currently targeting to have the open PR related to redesign landed in next week.

[2021-03-02 06:17] RageshAntony commented on #153
Thanks. We expecting your fixes.

Thanks for starting to fix the issue

On Tue, 2 Mar, 2021, 11:46 AM Rohit Reddy Abbadi, <notifications@github.com>
wrote:

[2021-03-03 19:55] hatemragab opened #155 "support node socket io v 3"
support socket io v 3 Not connect until downgrade the server socket io to v 2.3.0

[2021-03-03 23:03] 2peter3 commented on #153
a fix for this would be awesome

XCode: Version 12.4 (12D4e)
flutter: 1.22.6

[2021-03-04 11:52] 2peter3 commented on #153
does anybody know a workaround to fix this?

[2021-03-05 11:52] smasinde commented on #154
same thing. the listener you create has an ack callback

[2021-03-05 12:25] hatemragab commented on #154
I have fix it by check if socket.connected true then emit if not not emi

[2021-03-06 20:40] Shashoug commented on #153
i have the same issue now, any updates?

[2021-03-10 08:43] codeholic-anmol opened #156 "not working in socket.on but working on socket.broadcast"
**Describe the bug**
when we used socket.broadcast function on node.js backend and it doesn't received my messages from Flutter App which has installed residual socket.io flutter packages .

**Have you tried reproducing the issue with example available in this repo?**
Yes/No?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-03-10 11:18] SmartNodeAutomation commented on #151
Yes, I am facing same issue. cannot connect socket with Android phone.

[2021-03-15 05:30] yusufnadar commented on #3
Any solution?

[2021-03-15 16:24] Shashoug commented on #135
i'm facing the same issue now, any solutions?

[2021-03-15 17:18] smasinde commented on #135
Unfortunately, no @Shashoug

[2021-03-15 21:59] Shashoug commented on #135
i'm working on something now @smasinde , if anything pops i will ping you up.

[2021-03-16 09:20] smasinde commented on #153
support needed

[2021-03-16 12:12] Shashoug commented on #135
@smasinde
You have to run your iOS module with xcode to get your logs work,i have tried that.
My issue is : nil host used in call to allowsSpecificHTTPSCertificateForHost.
Anyone able to fix that?

[2021-03-16 12:13] Shashoug commented on #135
@smasinde
You have to run your iOS module with xcode to get your logs work,i have tried that.
My issue is : nil host used in call to allowsSpecificHTTPSCertificateForHost.
Anyone able to fix that?

[2021-03-23 10:56] roskimlong commented on #153
I met that error too

[2021-03-23 11:59] Shashoug commented on #153
@smasinde @roskimlong
I have switched to another package and worked like charm.
If you want guys i can provide you with the code and the steps.
Happy coding.

[2021-03-23 16:19] roskimlong commented on #153
@Shashoug  I will switch too if there is nothing update about this issue for ios, but android is working well !!!

[2021-03-23 16:21] Shashoug commented on #153
@roskimlong
I think you should switch.
I switched because i had to move my app into production.
I won't risk any issues because my app depends on Socket.IO

[2021-03-23 16:24] roskimlong commented on #153
@Shashoug okay, I also think about that too. Can you guys me some information or more samples of another Socket?

[2021-03-23 16:25] Shashoug commented on #153
@roskimlong
Sure!
Just give me a couple of minutes to get things more clear.

[2021-03-23 16:27] roskimlong commented on #153
@Shashoug thanks beforehand brother!

[2021-03-26 05:15] roskimlong commented on #153
@tiholic any update brother we are waiting your new update ❤️

[2021-03-26 05:18] tiholic commented on #153
Looking at a few failing tests at the moment. Will share an update soon

[2021-03-27 19:25] roskimlong commented on #153
Yeah brother, I'm your big fan ❤️

[2021-03-30 12:22] AbdullahGaber commented on #146
have you solved this issue?

[2021-03-30 15:10] AbdullahGaber opened #158 "Socket triggered::connect_error"
when i try connecting to socket the connect_error triggered and throw the following exception:

D/Adhara:Socket( 8723): Socket triggered::connect_error
2
I/flutter ( 8723): connect error io.socket.engineio.client.EngineIOException: websocket error

I also added add android:useCleartextTraffic="true" inside the application tag of AndroidManifest.xml and internet permission .
and checked the port an

[2021-03-30 15:37] #158 closed, assigned to tiholic

[2021-03-30 17:18] carman247 commented on #153
I'm getting the same error I think .. no idea what's going on 😢

[2021-03-31 05:28] roskimlong commented on #153
This problem is not yet fixed out!

[2021-03-31 07:30] carman247 commented on #153
Just posting this here in case it helps ..

# Error

[code]

# Flutter doctor -v
[code]

# Podfile
[code]

[2021-03-31 12:45] carman247 commented on #153
I noticed that 2 pods had been updated from:

[code]

to:
[code]

reverting back to the previous versions allowed me to build on iOS

[2021-03-31 20:17] IzGabs commented on #153
@carman247  THANK YOU SO MUCH!!! This really helps, hope they fix this issue asap

@roskimlong Hey bud, did you see @carman247 answer already? It can work for you too

[2021-04-01 05:07] MusabAbid commented on #146
No it doesn't work so i just leave it and use Firebase Firestore

On Tue, Mar 30, 2021, 5:22 PM AbdullahGaber ***@***.***>
wrote:

[2021-04-01 17:34] roskimlong commented on #153
@carman247  Thanks so much!! It's worked, but I need to downgrade Flutter version from 2.0
@IzGabs Thanks brother

[2021-04-01 17:40] RageshAntony commented on #153
I think this repo is inactive and deprecated

It's time to build a alternate one

On Thu, 1 Apr, 2021, 11:04 PM Ros KimLong, ***@***.***> wrote:

[2021-04-05 11:00] tiholic commented on #135
@smasinde as @Shashoug mentioned iOS logs will be displayed only when running the app from xcode.

[2021-04-05 11:01] tiholic commented on #135
@Shashoug can you create a new issue with https related issue.
Also check if your server is accessible using a socket io js SDK on html page

[2021-04-05 11:01] #135 closed

[2021-04-06 10:38] tiholic commented on #153
@RageshAntony @roskimlong @IzGabs @carman247 @Shashoug @smasinde @liqiang1995 @changyeun @2peter3

Released a new stable version (1.0.0) to pub.

Improvised maintenance of the project by adding integration tests along.

Please try and let know if this issue is resolved.

[2021-04-06 10:41] tiholic commented on #156
@codeholic-anmol

I believe that issue could be because of your server side socket version. This plugin doesn't support Socket.IO V3/V4 yet. If you are using these versions on server side, you may choose to downgrade.

[2021-04-06 10:41] RageshAntony commented on #153
Thanks very much

Please Let me check

Thanks for your dedication for fixing and starting maintenance again
🙏🙏🙏❤️

On Tue, 6 Apr, 2021, 4:09 PM Rohit Reddy Abbadi, ***@***.***>
wrote:

[2021-04-06 10:52] tiholic commented on #154
@hatemragab a new API is added now in V1.0.0

`socket.connectSync` please check new example in README for more

[2021-04-06 10:59] tiholic commented on #147
Are you saying the `receive` event from server is not triggered?

Can you try and see if this issue is reproduced in new release (v1.0.0)

[2021-04-06 11:00] tiholic commented on #147
@souravmunjal Are you saying the receive event from server is not triggered?

Can you try and see if this issue is reproduced in new release (v1.0.0)

[2021-04-06 11:02] tiholic commented on #155
Closing as a duplicate of #143

[2021-04-06 11:02] #155 closed

[2021-04-06 11:05] tiholic commented on #143
@rafampessoa @hatemragab

you may track status of this request here: https://github.com/infitio/flutter_socket_io/pull/160

----
@passsionforprogramming it would be great if you can contribute to this project by creating a PR (possibly over `feature/socket-v3` branch)

[2021-04-06 11:07] tiholic commented on #148
@rupamking1 if you have any findings on your question, please share them here so others would benefit from it!

[2021-04-06 11:09] tiholic commented on #151
@idevchandra @vksBhardwaj @Danish777 @SmartNodeAutomation

It could possibly be due to usage higher socket.io version on server side.

Currently this package supports only v2 socket.io

Please track v3/v4 support here: #160

[2021-04-06 11:10] tiholic commented on #150
@kamleshwebtech can you enable logs using `enableLogging` and re-share the logs.

If you are trying on iOS devices, please run from Xcode to see full logs.

[2021-04-06 11:17] tiholic commented on #146
@MusabAbid @AbdullahGaber this issue could be due to usage of incompatible sever side socket io version.
Currently the package supports only v2 socket.io

track v3/v4 support here: #160

[2021-04-06 11:27] tiholic commented on #3
Please try using new release: V1.0.0 and create a new issue if any problem still exists.

@yusufnadar @mannnish @Atuldubey98 @SankhaJay @saarang1995 @oncleguigs @Jasper-zzq @agnoam @mucan54 @theromie @majoferenc @choecode @mickadam87 @faiziakbr

[2021-04-06 11:27] #3 closed

[2021-04-06 11:28] tiholic commented on #6
This has been fixed with 1.0.0 release

https://pub.dev/packages/adhara_socket_io/versions/1.0.0

[2021-04-06 11:28] #6 closed

[2021-04-06 11:29] tiholic commented on #24
Support added for all platforms, please upgrade to latest version (1.0.0)
@orvice @lhcdims

[2021-04-06 11:29] #24 closed

[2021-04-06 11:31] tiholic commented on #82
V1.0.0 ensures support for all supported API's under namespaces too with help of necessary integration tests.
You may upgrade and test.

[2021-04-06 11:31] #82 closed

[2021-04-06 11:34] tiholic commented on #29
@solnsumei @Amriksinghkis @indranil-tiwary @DanielR97 @diegoalvis @rhessus @yalshamy @vincentsong

V1.0.0 ensures support for namespaces on both platforms with necessary integration tests. Please test and create a new issue if there are any.

[2021-04-06 11:34] #29 closed

[2021-04-06 11:39] tiholic commented on #7
@mrleesin can you confirm if this issue is resolved with new version 1.0.0?

[2021-04-06 11:41] tiholic commented on #54
@wapchief @oryjk @barees63 @feranmii @pdivita

new release v1.0.0 aims to address all known connectivity issues. Please try and create new issues in case any.
Go through README for new updates.

[2021-04-06 11:41] #54 closed

[2021-04-06 11:42] tiholic commented on #64
@vimalmistry @Mohammad-ezzidden

v1.0.0 adds fix for this issue. Please try and re-open this issue in case you find any.

[2021-04-06 11:42] #64 closed

[2021-04-06 11:44] tiholic commented on #56
@breitembach v1.0.0 adds enhanced support with integration tests ensuring supported APIs.
You may try and re-open this issue if you face any difficulties.

[2021-04-06 11:44] #56 closed

[2021-04-06 11:46] tiholic commented on #116
@hatemragab v1.0.0 adds enhanced support for data encoding/decoding. Please try and re-open this issue if not resolved with example data your server is trying to send back. We can ensure it works by adding similar data structure to integration tests.

[2021-04-06 11:46] #116 closed

[2021-04-06 11:47] tiholic commented on #112
@Machucho can you share a code sample with nest.js so we can try and ensure its connectivity?

[2021-04-06 11:50] tiholic commented on #131
@idevchandra @deepashree-ballodi @jweidner-mbible

You can now use Streams to listen to events from newly released v1.0.0.
Please try. Re-open this issue or create a new ones in case it doesn't work.

[2021-04-06 11:50] #131 closed

[2021-04-06 11:52] tiholic commented on #124
Duplicate of #6

@husmen73 this is resolve in a new release v1.0.0

[2021-04-06 11:52] #124 closed

[2021-04-06 11:54] tiholic commented on #144
@vpaul9678 you wanted to add namespace, but you seen to be using `path`. Please use these options:

[code]

[2021-04-06 11:54] #144 closed

[2021-04-06 11:55] #154 closed

[2021-04-06 11:57] tiholic commented on #103
@RaistlinTAO JSON is converted into a `Map` in dart side. If you want the content to be available as json, please use `json.encode(data);`. For this you will need to `import 'dart:convert' show json;`

[2021-04-06 11:57] #103 closed

[2021-04-07 05:22] tiholic commented on #158
@AbdullahGaber can you confirm if this issue was due to incompatible socket versions? Server should be using V2 sockets for this package to work smoothly.

[2021-04-07 05:26] tiholic commented on #58
Please try new version 1.0.0 and re-open or create a new issue if it still exists

[2021-04-07 15:15] roskimlong commented on #153
I tried to add version 1.0.0 but the error still the same

.pub-cache/hosted/pub.dartlang.org/adhara_socket_io-1.0.0/ios/Classes/AdharaSocket.swift:69:53: note: arguments to generic parameter 'Element' ('Any' and 'SocketData') are expected to be equal
                    socket.emitWithAck(eventName, with: data).timingOut(after: 0) { data in

[2021-04-08 05:04] tiholic commented on #153
@roskimlong This log seems to be `note` only, while the actual error might be different.

For example, error log looks like this (notice the log level is printed as `:error:` in the log below - _I wantedly injected an error here for demonstration_. The log level you shared is `:note:` only)

![image](https://user-images.githubusercontent.com/14252381/113970880-532c8200-9855-11eb-97f5-acfea8571f5d.

[2021-04-08 11:29] roskimlong commented on #153
The problem is still the same to the topic of issue 😌😌😌

[2021-04-08 17:24] tiholic commented on #153
@roskimlong

This comment answers your issue https://github.com/infitio/flutter_socket_io/issues/153#issuecomment-811039639

You can see the new integration tests use the same dependencies and the last test was run on latest stable channel (2.0.3): https://github.com/infitio/flutter_socket_io/blob/master/test_integration/ios/Podfile.lock#L7

Otherwise, it would help if you can share your `Podfile.

[2021-04-08 17:27] roskimlong commented on #153
Yes it's worked when I change in pod lock, version of socket and Starscream

[2021-04-09 10:35] Hendaru opened #161 "Execution failed for task ':adhara_socket_io:generateDebugRFile'."
I have error like this :
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':adhara_socket_io:generateDebugRFile'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 9s
Exception: Gradle task asse

[2021-04-10 17:37] tiholic commented on #153
Closing this issue as addressed. Feel free to re-open if required.

[2021-04-10 17:37] #153 closed

[2021-04-10 17:38] tiholic commented on #161
@Hendaru please upgrade to latest version `1.0.0` and see of the issue still persists

[2021-04-10 17:40] tiholic commented on #127
@Microinstance @disenyang seems like this issue is not reproducible with latest versions. Feel free to re-open if required.

[2021-04-10 17:40] #127 closed

[2021-04-10 17:42] tiholic commented on #119
@yase-hesham running in background is bit of a task.

You could configure a background service on both android and iOS side which could call dart code via method channels, which then could start interacting with sockets.

Here is an official link from flutter on how to achieve that:
https://flutter.dev/docs/development/packages-and-plugins/background-processes

[2021-04-10 17:42] #119 closed

[2021-04-13 01:30] ariefwijaya commented on #124
Thanks bro @tiholic, finally you come back. I will stay with this plugin, best and easy to use

[2021-04-13 02:21] ariefwijaya opened #162 "Listener when instance cleared"
Do we need to cancel listener manually after we call `  await socketIOManager.clearInstance(...);` ?

[2021-04-14 06:09] Hendaru commented on #161
the problem if upgrade to latest version 1.0.0, flutter must upgrade as well, and if my flutter upgrade to latest version my application totally error. i use flutter 1.17.4

[2021-04-14 09:00] #161 closed

[2021-04-15 09:38] tiholic commented on #162
@ariefwijaya It is always a good idea to manually close the listeners on an instance before clearing (possibly in your dispose method). However, the listeners should not be invoked once the instance is cleared.

[2021-04-15 09:42] tiholic commented on #141
@Snofkin @vksBhardwaj
Please share a code sample and server socket.io version to reproduce the issue.

[2021-04-30 14:08] hhly opened #164 "您好，io.socket.engineio.client.EngineIOException: xhr poll error"
您好，之前项目使用socket是OK的flutter版本升级后出现io.socket.engineio.client.EngineIOException: xhr poll error这个错误请问是什么原因，实在是找不到解决方法

[2021-04-30 14:09] hhly commented on #164
Hello, before the project using socket is OK, after the flutter version upgrade, io.socket.engineio.client.engineioexception: XHR poll error appears. What's the reason? I really can't find a solution

[2021-05-02 16:55] savanbthakkar commented on #164
We had the same problem. Try downgrading your flutter version to Flutter 1.22.5 • channel stable. It worked for us.

[2021-05-04 14:35] dna-f opened #165 "Null safety migration"
Hi!
Is null safety migration on roadmap?

[2021-05-04 22:04] bilalbaz1 opened #166 "compiling for iOS 9.0, but module 'SocketIO' has a minimum deployment target of iOS 10.0"
**Metadata**
 - Plugin version used: `ex: 1.0.0`
 - Server socket.io version: `ex: 2.4.0`
 - Device Type: [Physical Device or Emulator]
 - Model: [e.g. iPhone6]
 - OS: [e.g. iOS14.2 / Android API Level 29]
 - Package Version [e.g. 22]

Have you tried reproducing the issue with example available in this repo?: Yes/No

**Describe the bug**
A clear and concise description of what the bug is.

**Steps

[2021-05-06 08:43] dna-f opened #167 "Compilation errors on IOS with Socket.IO-Client-Swift (16.0.1)"
Hi,
I recently got a few errors while compiling on iOS, after cleaning up pods

Podfile.lock reported the following version of Socket.IO-Client-Swift (16.0.1)

    - Socket.IO-Client-Swift (16.0.1):
      - Starscream (~> 4.0)

    - Starscream (4.0.4)

I downgraded it, reverting to my previous Podfile.lock version, and everything turned fine
    - Socket.IO-Client-Swift (15.2.0):
        - Starsc

[2021-05-08 13:54] hetthakkar commented on #167
This fixed it for me as well. Thanks so much.. I should mention, I was trying to use version 0.4.2+1 of adhara_socket_io for my project. The code refused to compile for iOS

[2021-05-14 15:33] bilalbaz1 commented on #167
**ios/Podfile.lock**
`PODS:
  - adhara_socket_io (0.0.1):
    - Flutter
    - Socket.IO-Client-Swift (15.2.0):
    - Starscream (3.1.1)
  - connectivity (0.0.1):
    - Flutter
    - Reachability
  - device_info (0.0.1):
    - Flutter
  - Firebase/CoreOnly (7.11.0):
    - FirebaseCore (= 7.11.0)
  - Firebase/Messaging (7.11.0):
    - Firebase/CoreOnly
    - FirebaseMessaging (~> 7.11.0)
  - firebas

[2021-05-14 16:32] bilalbaz1 commented on #167
flutter_project/ios/Podfile.lock
`
...
- Socket.IO-Client-Swift (15.2.0):
    - Starscream (~> 3.1)
- Starscream (3.1.1)
...
`
I changed it that way and it worked. Thanks @dna-f

[2021-05-14 17:24] bilalbaz1 commented on #166
Solution found for iOS devices.
[https://github.com/infitio/flutter_socket_io/issues/167#issuecomment-841356273](https://github.com/infitio/flutter_socket_io/issues/167#issuecomment-841356273)

[2021-05-14 17:24] #166 closed

[2021-05-20 05:59] #167 closed

[2021-05-20 06:00] tiholic commented on #165
There is an open PR #163

Feel free to review and share any inputs.
I will review and land it soon.

[2021-05-27 06:22] BoshiLee opened #169 "Build failed in ios"
Header 'Starscream-Swift.h' not found

header 'Starscream-Swift.h' not found
    header "Starscream-Swift.h"
           ^
<unknown>:0: error: could not build Objective-C module 'Starscream'

[2021-05-28 02:29] CaoGiaHieu-dev opened #170 "Unhandled Exception: MissingPluginException(No implementation found for method newInstance on channel adhara_socket_io)"
**Describe the bug**
I run on ios device and get this error

2021-05-28 09:16:31.418797+0700 Runner[13922:108433] [VERBOSE-2:ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method newInstance on channel adhara_socket_io)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:156:7)
<asynchronous suspension>
#1      Soc

[2021-05-31 08:08] tiholic commented on #169
@BoshiLee try with new version `1.0.1+1`

[2021-05-31 08:09] tiholic commented on #164
@hhly @savanbthakkar please share necessary logs.
New version (1.0.0+) is supposed to work with new flutter releases.

[2021-05-31 08:10] tiholic commented on #164
@hhly @savanbthakkar new versions 1.0.0 and higher are supposed to work with new versions of flutter. Please try and share more details of the issue still persists.

[2021-05-31 08:11] tiholic commented on #170
@CaoGiaHieu-dev try `flutter clean` and re-run the app.

[2021-05-31 08:13] #162 closed

[2021-05-31 12:20] savanbthakkar commented on #164
@tiholic , we rolled back a month ago and everything is working fine now. We are not upgrading again until this issue is resolved.

[2021-05-31 12:24] tiholic commented on #164
@savanbthakkar please share more details to reproduce the issue:

1. Flutter doctor log
2. Socket.io version (on node.js side)

[2021-06-03 07:49] vinodlee opened #171 "E/flutter (31549): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: PlatformException(error, Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference, null, java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference"
E/flutter (31549): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: PlatformException(error, Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference, null, java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference

[2021-06-03 07:49] vinodlee commented on #171
How can i fix this?

[2021-06-03 19:51] bilalbaz1 commented on #65
I'm getting the same error. What's the solution? Thanks in advance.
@ManojMM026  @tiholic

[2021-06-04 00:18] tiholic commented on #65
@bilalbaz1 please share socket.io plugin version, socket.io server version, and flutter version you're using.

[2021-06-04 14:03] bilalbaz1 commented on #65
@tiholic
[code]

[code]

It also works flawlessly on Android. It gives an error on ios.

[code]

He's sending a message. A message is sent to the other person over the socket. But on ios device, there is a problem connecting and listening.

[Debug console](https://gist.github.com/42ba634a5b8e873694041306758ff709.git) https://gist.github.com/42ba634a5b8e873694041306758ff709.git

[2021-06-06 18:00] bilalbaz1 opened #173 "Fine on Android devices. But error on iOS devices"
Hello. It works fine on Android devices. But I am getting the following error on iOS devices.

**Debug console**
[code]

**Version**
_adhara_socket_io: ^1.0.1+1_

**Nodejs socket.io version**
_"socket.io": "^2.0.0",_

**flutter_project/ios/Podfile**
[code]

[2021-06-07 11:18] #173 closed, assigned to nobody

[2021-06-12 07:34] askavinraja commented on #46
For those who get connection errors, follow these steps

1. add clear traffic permission in manifest

2. connect to your IP address of the system. (192.x.x.x)

3. try to downgrade the socket.io version in node server side.

4. and use the "flutter run command" instead of debugging.

Peace!🤞

[2021-06-12 18:57] rsimbu89 opened #175 "Message NOT send on iPhone 11 Pro Max - iOS 14.6"
**Metadata**
 - Device Type: [Physical Device]
 - Model: [iPhone 11 Pro Max]
 - OS: [iOS14.6]
 - Package Version : ^1.0.0+1

**Describe the bug**
Chat works fine with Android and iPad, iPhone 11, BUT NOT works with iPhone 11 Pro Max iOS 14.6 version.

**Expected behavior**
Chat message should send.

[2021-06-16 13:11] RageshAntony opened #176 "socket.off(eventName) is removed in 1.0.1+1"
**Metadata**
 - Plugin version used: `ex: 1.0.1+1`
 - Server socket.io version: `ex: 2.4.0`
 - Device Type: [Physical Device or Emulator]
 - Model: [e.g. iPhone6]
 - OS: [e.g. iOS14.2 / Android API Level 29]
 - Package Version [e.g. 22]

Have you tried reproducing the issue with example available in this repo?: Yes/No

**Describe the bug**
socket.off(eventName) is removed in 1.0.1+1 . Please tell

[2021-06-16 17:34] starction commented on #176
New version uses steams to listen and cancel subscriptions. Please see the change log here: https://github.com/infitio/flutter_socket_io/blob/main/CHANGELOG.md#100---3rd-apr-2020

[2021-06-16 17:34] #176 closed, assigned to nobody

[2021-06-16 17:35] starction commented on #171
@vinodlee can you share complete logs? It is unclear where the issue is originating from.

[2021-06-17 00:54] RageshAntony commented on #176
Ok

Please update pub dev documentation with all new changes

On Wed, 16 Jun, 2021, 11:04 PM Soumya thatipamula, ***@***.***>
wrote:

[2021-06-18 08:49] tanmoydas61999 commented on #151
Socket connection works fine when connected to localhost(Ex - http://172.20.10.3:4000/),
but when connected to url which is hosted on heroku,it stops working.
Please help.

[2021-06-18 09:29] vikas-shrma commented on #151
Nothing to worry

You need to add some header's

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: tanmoydas61999 ***@***.***>
Sent: Friday, June 18, 2021 2:19:58 PM
To: infitio/flutter_socket_io ***@***.***>
Cc: Vikas Sharma ***@***.***>; Mention ***@***.***>
Subject: Re: [infitio/flutter_socket_io] Team, please respond: Connection timeout on Android (#151)

S

[2021-06-18 11:28] tanmoydas61999 commented on #151
Which headers?
Help is very much appreciated

[2021-06-19 04:15] anhdo9797 commented on #130
same issue

[2021-06-19 08:56] ghost commented on #84
Is this already available?

[2021-06-20 06:49] AkshayJainX commented on #6
Can you please share the answer for socket_io_client: ^1.0.1 plugin. Still facing the issue...

[2021-06-20 06:50] AkshayJainX commented on #6
Can you please help in bug fixing for socket_io_client: ^1.0.1 plugin

[2021-06-20 08:47] santosh2221994 commented on #6
As https://pub.dev/packages/adhara_socket_io/versions/1.0.0 is not null safety. please help me out as it creating so many instances in the server and thus server sometimes got hang... please help me out in this plugin

[2021-06-25 07:15] tiholic commented on #151
@tanmoydas61999 we do add additional configuration when hosting socket server in AWS to allow upgrade to `socket` from `http`: https://github.com/infitio/flutter_socket_io/issues/21#issuecomment-498951158

May be something similar has to be done with heroku too?

[2021-06-25 07:18] tiholic commented on #130
Internet permission is already included in the plugin code: https://github.com/infitio/flutter_socket_io/blob/main/android/src/main/AndroidManifest.xml

Try using `flutter run --release` and see the actual issue reproduced (https://flutter.dev/docs/testing/build-modes#release)

[2021-06-25 07:19] tiholic commented on #130
@monkeyMax-SVG @anhdo9797  were you able to solve the issue by giving internet permissions?
If not, here are some details:

Internet permission is already included in the plugin code: https://github.com/infitio/flutter_socket_io/blob/main/android/src/main/AndroidManifest.xml

Try using `flutter run --release` and see the actual issue (https://flutter.dev/docs/testing/build-modes#release)

[2021-07-13 04:59] Nadeembhat commented on #42
i used these attributes , but its not working giving me same error
**io.socket.engineio.client.EngineIOException: websocket error**

[2021-07-30 06:59] byshy commented on #165
any updates on this? @tiholic

[2021-08-06 06:38] dna-f commented on #165
I migrate to https://pub.dev/packages/socket_io_client
The switch was quite simple.
The library covers all platforms and depends on dart only (no native platform code)
Give it a try!

[2021-08-10 11:09] mildmindmine commented on #84
Are there any progress on this part?

[2021-08-31 08:14] reshamRudra opened #178 "null safety not supportable"
unable to use on flutter
environment:
  sdk: ">=2.12.0 <3.0.0"

[2021-09-03 18:57] PhyoeKo opened #179 "How can I send json Data to emit."
I am using latest version of adhara_socket_io,
 In console log socket is connected and onConnect data is empty [].
 I want to send the data with JSON format, so I tried like below

`void sendMessageWithACK(String identifier) {
    print('$identifier | Sending ACK message...');
    final msg = [
      {"name": "Phyoe Ko", "room": widget.roomId, "id": 32},
    ];
    sockets[identifier].emitWithAck(

[2021-09-29 05:36] rish07 commented on #173
Hey, i am facing a similar issue, how did you fix it?

[2021-10-27 10:24] hatemragab opened #181 "is this package disconnected?"
Hello,
thanks for this plugn which connect socket io from native code which more stable then dart socket io clint
i hope this package not disconnected 😔

[2021-11-17 12:20] nerdsarena commented on #178
same issue with me

[2021-12-15 11:21] MohammedErbia commented on #42
android:usesCleartextTraffic="true"
i used these attributes , but its not working giving me same error

The plugins `adhara_socket_io, flutter_absolute_path, onesignal_flutter` use a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if these plugins support the Android V2 embedding. Otherwise, consider removing them since a futu

[2021-12-16 16:06] officialismailshah opened #182 "support the android volume 2"
**Metadata**
 - Plugin version used: `ex: 1.0.0`
 - Server socket.io version: `ex: 2.4.0`
 - Device Type: [Physical Device or Emulator]
 - Model: [e.g. iPhone6]
 - OS: [e.g. iOS14.2 / Android API Level 29]
 - Package Version [e.g. 22]

Have you tried reproducing the issue with example available in this repo?: Yes/No

**Describe the bug**
The plugins `adhara_socket_io use a deprecated version of th

[2022-02-03 11:44] Gazzolla commented on #178
Idem

[2022-03-30 13:13] ihancock commented on #178
You can take from my repository for NS support  see  PR https://github.com/infitio/flutter_socket_io/pull/163

[2022-03-31 14:24] ihancock commented on #182
See PR https://github.com/infitio/flutter_socket_io/pull/163 This also fixes Android Embedding

[2022-04-28 05:33] kcs-dileeppatel opened #186 "adhara_socket_io use a deprecated version of the Android embedding"
**Metadata**
 - Server socket.io version: 1.0.1+1
 - Device Type: Physical Device and Emulator
 - Model: Pixel 2
 - OS: Android API Level 29 and 31

Hello infitio,
I am using this plugin in to my project from starting, but according to Flutter they will remove Android v1 embedding in future release.

**Flutter Waring**-: The plugins `adhara_socket_io` use a deprecated version of the Android embedd

[2022-05-31 06:44] sercangoger commented on #42
android native for This error has resurfaced. i am getting the same error. I did all the trials. but still the same

[2022-06-22 11:18] santosh-intarcs opened #187 "Parse Issue (Xcode): Module 'adhara_socket_io' not found"
Xcode build done.                                           22.8s
Failed to build iOS app
Error output from Xcode build:
↳
    2022-06-22 16:46:02.858 xcodebuild[6383:47674] Requested but did not find extension point with identifier Xcode.IDEKit.ExtensionSentinelHostApplications for extension Xcode.DebuggerFoundation.AppExtensionHosts.watchOS of plug-in com.apple.dt.IDEWatchSupportCore
    2022-06

[2022-06-22 11:27] firdoushnagma opened #188 "Parse Issue (Xcode): Module 'adhara_socket_io' not found"
**Metadata**
 - Plugin version used: `latest

 - Device Type: Mac m1 chip

 - OS: 12.4 (21F79)
 - Package Version : ^1.0.1+1

Have you tried reproducing the issue with example available in this repo?: Yes/No

**Describe the bug**
Parse Issue (Xcode): Module 'adhara_socket_io' not found

Xcode build done.                                           22.8s
Failed to build iOS app
Error output from Xcod

[2022-07-22 12:04] amitsingh6391 commented on #178
@ihancock there are some issue related multidex in your repo

[2022-09-23 21:58] jerinho commented on #151
hey lazy selfish. the link was dead